@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@charaset "utf-8";




.rex-menu {
  color: #686868;
  font-family: "Noto Sans CJK JP";
  font-size: 16px;
  z-index: 10010;

  line-height: 19px;


}


.rex-menu table tr,
.rex-menu table td {
  padding: 0;
}







.menu {

	margin: 0 auto;
	padding: 0;
  width: calc(100% - 48px);
}

.menu p {
  display: block;
  padding: 12px 0;
	text-decoration: none;
	/* color: #000; */
  line-height: 1;
}

label {
  display: block;
  margin: 0;
	padding :20px 0px;
  line-height: 1;
	/* color :#fff; */
  /* background :#007bbb; */
	cursor :pointer;
}

input {
	display: none;
}

.menu ul,
.menu-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li,
.menu-ul li,
.menu-li {
  max-height: 0;
  overflow-y: hidden;
  /* -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s; */
  /* transition: all 1.3s; */
	transition: .3s cubic-bezier(0.25,0,0.45,1);
  /* -webkit-transition: .2s cubic-bezier(10.25,0,0.45,1);
  transition: .2s cubic-bezier(10.25,0,0.45,15); */
}

.menu li p {
  /* height: 20px; */
}

.menu label {
  font-size: 16px;
} 

.text-blue {
  color: #053ACE;
} 

#menu_bar01:checked ~ #links01 > li,
#menu_bar022:checked ~ #links022 > li,
#menu_bar0222:checked ~ #links0222 > li,
#menu_bar023:checked ~ #links023 > li,
#menu_bar024:checked ~ #links024 > li,
#menu_bar025:checked ~ #links025 > li,
#menu_bar03:checked ~ #links03 > li,
#menu_bar04:checked ~ #links04 > li,
#menu_bar05:checked ~ #links05 > li,
#menu_bar06:checked ~ #links06 > li,
#menu_bar07:checked ~ #links07 > li
 {
	max-height: 50px;
  opacity: 1;
}

#menu_bar02:checked ~ #links02 > li
 {
	max-height: 700px;
  opacity: 1;
}

#menu_bar022:checked ~ #links022 > li
 {
	max-height: 700px;
  opacity: 1;
}


#menu_bar01:checked ~ #menu_label01 .arrow-d,
#menu_bar02:checked ~ #menu_label02 .arrow-d,
#menu_bar03:checked ~ #menu_label03 .arrow-d,
#menu_bar04:checked ~ #menu_label04 .arrow-d,
#menu_bar05:checked ~ #menu_label05 .arrow-d,
#menu_bar06:checked ~ #menu_label06 .arrow-d,
#menu_bar07:checked ~ #menu_label07 .arrow-d,
#menu_bar022:checked ~ #menu_label022 .arrow-d,
#menu_bar0222:checked ~ #menu_label0222 .arrow-d,
#menu_bar023:checked ~ #menu_label023 .arrow-d,
#menu_bar024:checked ~ #menu_label024 .arrow-d,
#menu_bar025:checked ~ #menu_label025 .arrow-d
 {
    display: none;
}
#menu_bar01:not(:checked) ~ #menu_label01 .arrow-u,
#menu_bar02:not(:checked) ~ #menu_label02 .arrow-u,
#menu_bar03:not(:checked) ~ #menu_label03 .arrow-u,
#menu_bar04:not(:checked) ~ #menu_label04 .arrow-u,
#menu_bar05:not(:checked) ~ #menu_label05 .arrow-u,
#menu_bar06:not(:checked) ~ #menu_label06 .arrow-u,
#menu_bar07:not(:checked) ~ #menu_label07 .arrow-u,
#menu_bar022:not(:checked) ~ #menu_label022 .arrow-u,
#menu_bar0222:not(:checked) ~ #menu_label0222 .arrow-u,
#menu_bar023:not(:checked) ~ #menu_label023 .arrow-u,
#menu_bar024:not(:checked) ~ #menu_label024 .arrow-u,
#menu_bar025:not(:checked) ~ #menu_label025 .arrow-u
 {
    display: none;
}


#menu_label022 .link-mark,
#menu_label023 .link-mark,
#menu_label024 .link-mark,
#menu_label025 .link-mark
 {
  margin-top: -4px;
}

#menu_label022,
#menu_label023,
#menu_label024,
#menu_label025
 {
  padding-top: 12px;
  padding-bottom: 12px;
}

#modal-close {
  float: right;
  margin-right: 24px;
}


.arrow {
  float: right;
}


/*グロナビ*/
.s3-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10010;
  /* -webkit-transition: visibility 0.2s linear,opacity 0.2s linear;
  transition: visibility 0.2s linear,opacity 0.2s linear;
  opacity: 0;
  visibility: hidden; */
  overflow-y: scroll;
  font-family: "NotoSansCJKjp-Regular", "Noto Sans JP", sans-serif;
  -webkit-overflow-scrolling: touch;


   }


.table1 tr {
  height: 40px;
}


.link-mark {
      float: left;
    margin-top: 8px;
    width: 48px;
}



.border-bottom {
  border-bottom: inset 1px #f0f0f0;
}

.menu-li {
  margin-left: 60px;
}


.rex-menu {
  transition: .3s cubic-bezier(0.25,0,0.45,1);
}


.rex-menu {
  left: -400px;
  /* opacity: 0; */
}

.rex-menu.s3-menu--is-show {
  left: 0px;
  /* opacity: 1; */
}

#links0222 .menu-li {
  margin-left: 10px;
}

#menu_label0222 {
    padding-top: 12px;
    padding-bottom: 12px;
}