select#select-loginform {
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background: #eee;
  background: url(/smartphone/arrow.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#ccc 100%);
  background: url(/smartphone/arrow.png) right 50% no-repeat, linear-gradient(top bottom, #fff 0%,#ccc 100%);
  background-size: 20px, 100%;
  margin-bottom:10px;
  border-radius: 5px;
}

.sprite-icon-alert {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    /* margin-top: -13px; */
    margin-right: 6px;
    background-image: url(/smartphone/img/login-icon-alert.png);
    background-position: 0 0;
    background-size: contain;
    width: 16px;
    height: 16px;
}

#system_info{
  margin: 30px 0;
  line-height:1.6;
}

#system_info .s1-system__hdg{
  text-align:left !important;
}


div.loginBtn input{font-family: ArialMT, Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3, メイリオ, sans-serif;}

a{ padding: 0;}
a:link { text-decoration: none;}

.AppDownloadArea .AppDownloadBox .download ul { margin-bottom: 4px;}

/* btnAccount */
#contents .btnAccount {
margin: 25px 15px;
}
#contents .btnAccount p {
display: table;
width: 100%;
background-color: #ff8100;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#contents .btnAccount p a {
display: table-cell;
padding: 10px;
color: #fff;
font-size: 20px;
line-height: 1.2;
text-align: center;
text-decoration: none;
vertical-align: middle;
}

/* ------------------------------------- */
.bottom-icon__list {
line-height: 1;
display: flex;
position: fixed;
bottom: 10px;
right: 10px;
align-items: flex-end;
}
.bottom-icon__list.fixed {
line-height: 1;
position: fixed;
bottom: 10px;
right: 10px;
z-index: 10000;
}
.bottom-icon__text {
line-height: 1;
font-size: 9px;
letter-spacing: -0.9px;
font-feature-settings: normal;
}
.bottom-icon__item {
width: 48px;
height: 48px;
float: left;
background-color: #fff;
box-shadow: 0 0 9px 0 rgba(204, 204, 204, 0.65);
border-radius: 4px;
margin-right: 14px
}
.bottom-icon__item a {
display: block;
height: 100%;
padding: 6px 3px;
color: #333;
box-sizing: border-box
}
.bottom-icon__item img {
max-width: 100%;
vertical-align: middle
}
.bottom-icon__item .icon-img {
display: block;
margin: 0 auto 3px
}
.bottom-icon__item.scrolltop {
padding: 6px;
box-sizing: border-box;
text-align: center
}
.bottom-icon__item:last-child {margin-right: 0}

.rex-global-nav__heading--link a {text-decoration: none;}

/* ------------------------------------- */
#hidden-search{
  display: none;
}
.hidden-search-box{
  display: flex;
  position: fixed;
  left: 0;
  top: -100px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  padding: 16px 16px 8px 0;
  transition: .3s;
  box-sizing: border-box;
  z-index: 99999;
}
#hidden-search:checked + .hidden-search-box{
  top: 0;
  transition: .3s;
}
.hidden-search-container{
  flex-grow: 1;
}
.hidden-search-lebel{
  width: max-content;
  padding-bottom: 8px;
  color: #053ace;
}

/* ------------------------------------- */

.passwd-form { position: relative}
.passwd-form__toggle {
  margin: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: 8px;
  font-size: 22px;
  line-height: 1.0;
  margin-top: -20px;
  color: #686868;
  z-index: 100;
}
.passwd-form__toggle .rex-icons-eye-filled,
.passwd-form__toggle.is-active .rex-icons-eye-ban-filled {
  display: block;
  padding: 9px;
  box-sizing: border-box;
}
.passwd-form__toggle .rex-icons-eye-ban-filled,
.passwd-form__toggle.is-active .rex-icons-eye-filled{display: none}
