header[role="banner"],
footer[role="contentinfo"] {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  -webkit-text-size-adjust: 100%;
  line-height: 1.75;
}

header[role="banner"] *,
header[role="banner"] ::before,
header[role="banner"] ::after,
footer[role="contentinfo"] *,
footer[role="contentinfo"] ::before,
footer[role="contentinfo"] ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  letter-spacing: 0px;
}

header[role="banner"] ul,
footer[role="contentinfo"] ul {
  list-style-type: none;
}

header[role="banner"] img,
footer[role="contentinfo"] img {
  vertical-align: bottom;
}

.l-rf-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.c-rf-button {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  /* basic */
  /* fill */
  /* icon */
  /* search */
  /* pulldown */
  /* mega */
}

.c-rf-button[type="button"] {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
}

.c-rf-button[data-type="basic"], .c-rf-button[data-type="fill"], .c-rf-button[data-type="icon"], .c-rf-button[data-type*="mega-"], .c-rf-button[data-type="search"] {
  align-items: center;
  display: inline-flex;
  text-align: center;
}

.c-rf-button[data-type="acc"] > span > *, .c-rf-button[data-type="basic"] > span > *, .c-rf-button[data-type="fill"] > span > *, .c-rf-button[data-type*="mega-"] > span > *, .c-rf-button[data-type="pull"] > span > * {
  vertical-align: middle;
  font-size: 16px;
}

.c-rf-button[data-type="basic"], .c-rf-button[data-type="fill"], .c-rf-button[data-type="icon"], .c-rf-button[data-type="search"] {
  border-radius: 4px;
  vertical-align: middle;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button[data-type="acc"] [class*="rex-icon-"]:first-child, .c-rf-button[data-type="basic"] [class*="rex-icon-"]:first-child, .c-rf-button[data-type="fill"] [class*="rex-icon-"]:first-child, .c-rf-button[data-type*="mega-"] [class*="rex-icon-"]:first-child,.c-rf-button[data-type="acc"] [class*="rex-icons-"]:first-child, .c-rf-button[data-type="basic"] [class*="rex-icons-"]:first-child, .c-rf-button[data-type="fill"] [class*="rex-icons-"]:first-child, .c-rf-button[data-type*="mega-"] [class*="rex-icons-"]:first-child {
  font-size: 16px;
  margin-right: 8px;
}

.c-rf-button[data-type="acc"], .c-rf-button[data-type*="mega-"], .c-rf-button[data-type="pull"] {
  padding: 8px 24px;
  position: relative;
  text-align: left;
  width: 100%;
}

.c-rf-button[data-type="acc"] [class*="rex-icon-"]:last-child, .c-rf-button[data-type*="mega-"] [class*="rex-icon-"]:last-child, .c-rf-button[data-type="pull"] [class*="rex-icon-"]:last-child,.c-rf-button[data-type="acc"] [class*="rex-icons-"]:last-child, .c-rf-button[data-type*="mega-"] [class*="rex-icons-"]:last-child, .c-rf-button[data-type="pull"] [class*="rex-icons-"]:last-child {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button[data-type="acc"][aria-expanded="true"] .rex-icon-chevron-down, .c-rf-button[data-type="mega-down"][aria-expanded="true"] .rex-icon-chevron-down, .c-rf-button[data-type="pull"][aria-expanded="true"] .rex-icon-chevron-down,.c-rf-button[data-type="acc"][aria-expanded="true"] .rex-icons-chevron-down, .c-rf-button[data-type="mega-down"][aria-expanded="true"] .rex-icons-chevron-down, .c-rf-button[data-type="pull"][aria-expanded="true"] .rex-icons-chevron-down {
  transform: translateY(-50%) rotate(180deg) !important;
}

.c-rf-button[data-type="basic"], .c-rf-button[data-type="fill"] {
  font-size: 12px;
  height: 44px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
}

.c-rf-button[data-type="basic"]:focus, .c-rf-button[data-type="fill"]:focus {
  border: solid 1px #fff;
}

.c-rf-button[data-type="icon"], .c-rf-button[data-type="search"] {
  border: solid 1px transparent;
  color: #686868;
  outline: none;
  padding: 4px 8px;
  line-height: 1;
}

.c-rf-button[data-type="icon"] [class*="rex-icon-"], .c-rf-button[data-type="search"] [class*="rex-icon-"],.c-rf-button[data-type="icon"] [class*="rex-icons-"], .c-rf-button[data-type="search"] [class*="rex-icons-"],.c-rf-button[data-type="icon"] [class*="sure-icon-"], .c-rf-button[data-type="search"] [class*="sure-icon-"] {
  font-size: 20px;
}

.c-rf-button[data-type="icon"] [class*="rex-icon-"] + span, .c-rf-button[data-type="search"] [class*="rex-icon-"] + span,.c-rf-button[data-type="icon"] [class*="rex-icons-"] + span, .c-rf-button[data-type="search"] [class*="rex-icons-"] + span ,.c-rf-button[data-type="icon"] [class*="sure-icon-"] + span, .c-rf-button[data-type="search"] [class*="sure-icon-"] + span {
  display: block;
  font-size: 10px;
  margin-top: 4px;
}

.c-rf-button[data-type="icon"] [class^="sure-icon-"]:before,
.c-rf-button[data-type="icon"] [class*=" sure-icon-"]:before{
  vertical-align: text-top;
}


.c-rf-button[data-type="icon"]:hover, .c-rf-button[data-type="search"]:hover {
  background-color: #F7F7F7;
  color: #bf0000;
}

.c-rf-button[data-type="icon"]:active, .c-rf-button[data-type="search"]:active {
  background-color: #bf0000;
  color: #fff;
}

.c-rf-button[data-type="icon"]:focus, .c-rf-button[data-type="search"]:focus {
  background-color: #fff;
  border-color: #bf0000;
  color: #bf0000;
}

.c-rf-button[data-type="basic"] {
  background-color: #fff;
  border: solid 1px #bf0000;
  color: #bf0000;
}

.c-rf-button[data-type="basic"]:hover {
  background-color: #F7F7F7;
}

.c-rf-button[data-type="basic"]:active, .c-rf-button[data-type="basic"]:focus {
  background-color: #bf0000;
  color: #fff;
}

.c-rf-button[data-type="basic"]:focus {
  box-shadow: 0 0 0 1px #bf0000;
}

.c-rf-button[data-type="fill"] {
  background-color: #bf0000;
  border: solid 1px transparent;
  color: #fff;
}

.c-rf-button[data-type="fill"]:hover {
  background-color: #EC0606;
}

.c-rf-button[data-type="fill"]:active, .c-rf-button[data-type="fill"]:focus {
  border-color: 1px solid #8C0000;
  background-color: #8C0000;
}

.c-rf-button[data-type="fill"]:focus {
  box-shadow: 0 0 0 1px #8C0000;
}

.c-rf-button[data-type="icon"] {
  margin-left: 0;
}

.c-rf-button[data-type="search"][aria-expanded="true"] {
  background-color: #bf0000;
  color: #fff;
}

.c-rf-button[data-type="pull"] [class*="rex-icon-"]:first-child,
.c-rf-button[data-type="pull"] [class*="rex-icons-"]:first-child {
  font-size: 16px;
  margin-right: 4px;
}

.c-rf-button[data-type*="mega-"] {
  padding-left: 24px;
  padding-right: 24px;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 100%;
  z-index: 1;
}

.c-rf-button[data-type="mega-down"] > span::after {
  transition: border-color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

#menuTitle + .c-rf-button.js-trigger span,
.c-rf-button.js-trigger .rex-icons-close,
.c-rf-button.js-trigger .rex-icons-close::before {
  line-height: 1 !important;
}

.c-rf-button__text {
  text-align: center;
}

.c-rf-button__text.-line-2 > span + span {
  color: #333;
  display: block;
  font-size: 10px;
  transition: color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button:active .c-rf-button__text.-line-2 > span + span,
.c-rf-button:focus .c-rf-button__text.-line-2 > span + span {
  color: #fff;
}

.c-rf-close-button {
  background-color: transparent;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 0;
  position: absolute;
}

.c-rf-close-button .rex-icon-close,
.c-rf-close-button .rex-icons-close {
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px !important;
  display: inline-block;
  padding: 1.5px;
}

.c-rf-close-button:hover .rex-icon-close,
.c-rf-close-button:hover .rex-icons-close {
  background-color: #EBEBEB;
  color: #bf0000;
}

.c-rf-close-button:focus .rex-icon-close,
.c-rf-close-button:focus .rex-icons-close {
  border-color: #bf0000;
  color: #bf0000;
}

.c-rf-hr {
  border-top: 1px solid #ebebeb !important;
  display: block;
  height: 0;
  margin: 0 24px;
}

.c-rf-link {
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  line-height: 16px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline-color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-link > span > * {
  vertical-align: middle !important;
  font-size: 16px !important;
}

.c-rf-link [class*="rex-icon-"]:last-child,
.c-rf-link [class*="rex-icons-"]:last-child {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
}

.c-rf-link.-ftr {
  color: #686868;
}

.c-rf-link.-ftr:active {
  color: #bf0000;
}

.c-rf-search__wrap {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.c-rf-search__wrap input[type="text"],
.c-rf-search__wrap button[type="submit"] {
  height: 40px;
}

.c-rf-search__wrap input[type="text"] {
  border: 1px solid #686868;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 8px 56px 8px 16px;
  transition: border 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 100%;
}

.c-rf-search__wrap input::placeholder {
  color: #686868;
}

.c-rf-search__wrap input[type="text"]:hover{
  border: 1px solid #bf0000;
}

.c-rf-search__wrap input[type="text"]:active,
.c-rf-search__wrap input[type="text"]:focus {
  outline: 2px solid #BF0000;
  outline-offset: -2px;
}

.c-rf-search__wrap button[type="submit"] {
  align-items: center;
  background-color: #bf0000;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 40px;
}

.c-rf-search__wrap button[type="submit"]:hover {
  background-color: #EC0606;
}

.c-rf-search__wrap button[type="submit"]:focus {
  background-color: #590000;
  outline: 2px solid #EC0606;
  outline-offset: -2px;
}

.p-rf-external {
  margin: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

.p-rf-external dt {
  color: #686868;
  font-size: 14px;
  padding-left: 24px;
}

.p-rf-external dd {
  margin-left: 0;
  margin-top: 8px;
}

.p-rf-external dd ul {
  margin: 0;
  padding: 0;
}

.p-rf-external dd .c-rf-link {
  padding: 8px 36px 8px 56px;
  width: 100%;
}

.p-rf-external dd .c-rf-link span [class*="rex-icon-"]:first-child,
.p-rf-external dd .c-rf-link span [class*="rex-icons-"]:first-child {
  color: #bf0000;
  font-size: 21px !important;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin: 0;
}

.p-rf-external dd .c-rf-link img {
  margin-right: 12px;
}

.p-rf-external::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin: 8px 24px 0;
}

.p-rf-f_bottom {
  position: relative;
}

.p-rf-f_companyinfo {
  font-size: 12px !important;
  margin: 16px 0 0 0;
  padding: 0 24px;
}

.p-rf-f_companyinfo > li {
  display: inline-block;
}

.p-rf-f_companyinfo > li:not(:last-child) {
  margin-right: 24px;
}

.p-rf-f_companyinfo a {
  line-height: 24px;
}

.p-rf-f_companyinfo .c-rf-link > span > * {
  font-size: 12px !important;
}

.p-rf-f_copyright {
  font-size: 10px;
  margin: 0;
  padding: 12px 24px 8px !important;
}

.p-rf-f_group {
  align-items: center;
  padding: 16px 24px;
}

.p-rf-f_group__box {
  margin: 0;
}

.p-rf-f_group__box > dt {
  font-size: 10px;
  font-weight: 500;
}

.p-rf-f_group__box > dd {
  font-size: 12px;
  display: inline-block;
  margin-left: 0;
}

.p-rf-f_group__box > dd .c-rf-link > span > * {
  font-size: 12px !important;
}

.p-rf-f_group__box > dd:not(:last-child) {
  margin-right: 24px;
}

.p-rf-f_lang {
  position: relative;
}

.p-rf-f_lang .c-rf-button {
  color: #686868;
  font-size: 16px;
  padding: 16px 48px 16px 24px;
}

.p-rf-f_lang .c-rf-button [class*="rex-icon-"]:first-child,
.p-rf-f_lang .c-rf-button [class*="rex-icons-"]:first-child {
  font-size: 20px;
}

.p-rf-f_lang .c-rf-button:active,
.p-rf-f_lang .c-rf-button.is-hover {
  background-color: #EBEBEB;
}

.p-rf-f_lang .c-rf-button[aria-expanded="true"] {
  background-color: transparent;
  font-weight: bold;
}

.p-rf-f_lang .c-rf-button + [id] {
  display: none;
}

.p-rf-f_lang__menu {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.p-rf-f_lang__menu .c-rf-link {
  border-radius: 0;
  color: #686868;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 48px;
  text-decoration: none;
}

.p-rf-f_lang__menu .c-rf-link.is-current {
  color: #bf0000 !important;
  font-weight: bold;
}

.p-rf-f_lang::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
}

.p-rf-f_notation {
  font-size: 10px;
  padding: 16px 24px;
}

.p-rf-f_notation > *:first-child {
  margin-top: 0;
}

.p-rf-f_notation > dl {
  margin: 0;
}

.p-rf-f_notation > dl > dd {
  margin: 8px 0 0 0;
}

.p-rf-f_notation > dl + dl {
  margin: 12px 0 0 0;
}

.p-rf-f_notation > p + p {
  margin: 12px 0 0 0;
}

.p-rf-f_pclink {
  font-size: 14px;
  margin: 16px 0 0 0;
}

.p-rf-f_pclink > a {
  color: inherit;
  display: block;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
}

.p-rf-f_pclink i {
  margin-right: 8px;
}

.p-rf-f_search {
  padding: 16px 24px !important;
}

.p-rf-f_service {
  margin: 0;
  padding: 0 24px 16px !important;
}

.p-rf-f_service + nav{
  padding-top: 16px;
}

.p-rf-f_service > dt {
  font-size: 14px;
  font-weight: bold;
}

.p-rf-f_service > dd {
  margin: 16px 0 0 0;
}

.p-rf-f_service__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

.p-rf-f_service__list > li {
  width: calc((100% - 6px)/3);
}

.p-rf-f_service__list > li:nth-child(n + 4) {
  margin-top: 3px;
}

.p-rf-f_service__list > li:not(:nth-child(3n + 1)) {
  margin-left: 3px;
}

.p-rf-f_service a {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  display: block;
  height: 100%;
  line-height: 1.4;
  padding: 8px 4px;
  text-align: center;
  text-decoration: none;
}

.p-rf-f_service a > span {
  display: block;
}

.p-rf-f_service a > span:nth-child(1) {
  text-align: center;
}

.p-rf-f_service a > span:nth-child(1) img {
  border-radius: 8px;
}

.p-rf-f_service a > span:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.p-rf-f_service a > span:nth-child(3) {
  font-size: 10px;
  margin-top: 4px;
}

.p-rf-f_sitemap {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.p-rf-f_sitemap:first-child::before {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
}

.p-rf-f_sitemap .c-rf-link:hover {
  background-color: #EBEBEB;
}

.p-rf-f_sitemap .c-rf-button {
  color: #686868;
}

.p-rf-f_sitemap .c-rf-button:active,
.p-rf-f_sitemap .c-rf-button.is-hover {
  background-color: #EBEBEB;
}

.p-rf-f_sitemap .c-rf-button[aria-expanded="true"] {
  font-weight: bold;
}

.p-rf-f_sitemap__Box {
  margin: 0;
}

.p-rf-f_sitemap__Box::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
}

.p-rf-f_sitemap__BoxHead .c-rf-text {
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
}

.p-rf-f_sitemap__BoxHead .c-rf-button {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.p-rf-f_sitemap__BoxBody {
  display: none;
  margin-left: 0;
  padding-bottom: 16px;
}

.p-rf-f_sitemap__BoxBody > ul {
  margin: 0;
}

.p-rf-f_sitemap__BoxBody ul {
  padding-left: 0;
}

.p-rf-f_sitemap__BoxBody ul > li .c-rf-link {
  padding: 12px 36px;
  width: 100%;
}

.p-rf-f_sitemap.-simple li .c-rf-link {
  padding: 12px 36px 12px 24px;
  width: 100%;
}

.p-rf-f_sitemap.-simple li::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
}

.p-rf-f {
  color: #333;
}

.p-rf-f__inner.-top {
  border-top :1px solid #fff;
  background-color: #F7F7F7;
  padding-top: 16px;
}

.p-rf-f__inner.-bottom {
  background-color: #fff;
}

.p-rf-gnav {
  color: #333;
  position: relative;
}

.p-rf-gnav__list {
  margin: 0;
  padding: 0;
}

.p-rf-gnav__wrap {
  background-color: #fff;
}

.p-rf-gnav__menuBox {
  margin: 0;
  padding: 0;
}

.p-rf-gnav__menuBox .c-rf-link {
  padding-bottom: 6px;
  padding-top: 6px;
  width: 100%;
}

.p-rf-gnav__menuBoxHead .c-rf-button {
  padding-left: 60px;
}

.p-rf-gnav__menuBoxHead [class*="rex-icon-"]:first-child,
.p-rf-gnav__menuBoxHead [class*="rex-icons-"]:first-child {
  color: #bf0000;
  font-size: 21px !important;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.p-rf-gnav__menuBoxBody {
  background-color: #F7F7F7;
  display: none;
  margin-left: 0;
}

.p-rf-gnav__menuBoxBody ul {
  margin: 0;
  padding: 8px 0;
}

.p-rf-gnav__menuBoxBody .c-rf-link {
  padding-left: 88px;
  padding-right: 32px;
}

.p-rf-gnav__menuLinks {
  margin: 0;
  padding: 0;
}

.p-rf-gnav__menuWrap:last-child .p-rf-gnav__menuLinks {
  padding-bottom: 16px;
}

.p-rf-gnav__menuLinks > li .c-rf-link {
  padding: 6px 32px 6px 60px;
  width: 100%;
}

.p-rf-gnav__menuLinks .c-rf-link span [class*="rex-icon-"]:first-child,
.p-rf-gnav__menuLinks .c-rf-link span [class*="rex-icons-"]:first-child {
  color: #bf0000;
  font-size: 24px !important;
  height: 24px;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin: 0;

}
.p-rf-gnav__menuLinks .c-rf-link span [class*="rex-icon-"]::before,
.p-rf-gnav__menuLinks .c-rf-link span [class*="rex-icons-"]::before {
  display: block;
  margin-top: -2px;
}

.p-rf-gnav__menuLinks .c-rf-link:hover span [class*="rex-icon-"]:first-child::before,
.p-rf-gnav__menuLinks .c-rf-link:hover span [class*="rex-icons-"]:first-child::before,
.p-rf-gnav__menuLinks .c-rf-link:active span [class*="rex-icon-"]:first-child::before,
.p-rf-gnav__menuLinks .c-rf-link:active span [class*="rex-icons-"]:first-child::before{
  filter: brightness(0) invert(1);
}

.p-rf-gnav li[data-level="1"]:first-child > .c-rf-button {
  padding-bottom: 18px;
  padding-top: 18px;
  line-height: 1;
}
.p-rf-gnav li[data-level="1"]:not(:first-child) > .c-rf-button {
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 1;
}

.p-rf-gnav li[data-level="1"] > .c-rf-button span{
  line-height: 1;
  display: flex;
  align-items: center;
}

.p-rf-gnav li[data-level="1"] > .c-rf-button [class*="rex-icon-"]:first-child,
.p-rf-gnav li[data-level="1"] > .c-rf-button [class*="rex-icons-"]:first-child {
  color: #bf0000;
  font-size: 24px;
}

.p-rf-gnav li[data-level="1"] > .c-rf-button span .rex-icon--pickup.rex-icon-home,
.p-rf-gnav li[data-level="1"] > .c-rf-button span .rex-icon--pickup.rex-icon-home::before{
  line-height: 1;
  vertical-align: top;
  height:24px;
}


.p-rf-gnav li[data-level="1"] > .c-rf-button[aria-expanded="true"] {
  font-weight: bold;
}

.p-rf-gnav li[data-level="1"]::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
}

.p-rf-gnav li[data-level="2"] .c-rf-button {
  padding-left: 72px;
}

.p-rf-gnav li[data-level="3"] > .c-rf-link {
  padding-left: 98px;
}

.p-rf-gnav li[data-level="3"] > .c-rf-link > span::before {
  color: #bf0000;
  content: "\30FB";
}

.p-rf-gnav li[data-level="3"] > .c-rf-link:hover > span::before {
  color: #fff;
}

.p-rf-gnav .c-rf-button,
.p-rf-gnav .c-rf-link {
  border-radius: 0;
}

.p-rf-gnav .c-rf-button:active,
.p-rf-gnav .c-rf-button.is-hover {
  background-color: #EC0606;
  color: #fff;
}

.p-rf-gnav .c-rf-button:active [class*="rex-icon-"]:first-child,
.p-rf-gnav .c-rf-button:active [class*="rex-icons-"]:first-child,
.p-rf-gnav .c-rf-button.is-hover [class*="rex-icon-"]:first-child,
.p-rf-gnav .c-rf-button.is-hover [class*="rex-icons-"]:first-child {
  color: #fff !important;
}

.p-rf-gnav .c-rf-button[aria-expanded="true"] {
  color: #bf0000;
}

.p-rf-gnav .c-rf-button[aria-expanded="true"] [class*="rex-icon-"]:first-child,
.p-rf-gnav .c-rf-button[aria-expanded="true"] [class*="rex-icons-"]:first-child {
  color: #bf0000 !important;
}

.p-rf-gnav .c-rf-link:hover {
  background-color: #EC0606;
  color: #fff;
}

.p-rf-gnav .c-rf-link:hover [class*="rex-icon-"]:first-child,
.p-rf-gnav .c-rf-link:hover [class*="rex-icons-"]:first-child {
  color: #fff !important;
}

.p-rf-gnav .c-rf-button + [id] {
  display: none;
}

.p-rf-h_gnav {
  background-color: #fff;
  bottom: 0;
  left: -100%;
  overflow: auto;
  position: fixed;
  outline: none;
  overflow-y: auto;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 10001;
}

.p-rf-h_gnav *{
  line-height: 1.75;
}

.p-rf-h_gnav.is-hide {
  display: none;
}

.p-rf-h_gnav.is-open {
  left: 0;
  right: 0;
  padding-bottom: 88px;
}

.p-rf-h_gnav__head {
  align-items: center;
  background-color: #bf0000;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 8px 4px 8px 24px;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.p-rf-h_gnav__head .c-rf-button {
  color: #fff;
}

.p-rf-h_gnav__head .c-rf-button:hover {
  background-color: #EC0606;
  color: #fff;
}

.p-rf-h_gnav__title {
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

.p-rf-h_gnav__search {
  background-color: #F7F7F7;
  padding: 16px;
}

.p-rf-h_main {
  background-color: #fff;
  border-bottom: solid 1px #EBEBEB !important;
  box-sizing: border-box;
  height: 60px;
  left: 0;
  padding: 8px 4px;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  /* z-index: 10001; */
  /* simple setting */
}

.p-rf-h_main > .l-rf-container {
  align-items: center;
  display: flex;
}

.c-rf-button + .p-rf-h_main__wrap {
  margin-left: 7px;
}

.p-rf-h_main__wrap.-left {
  align-items: flex-end;
  display: flex;
}

.p-rf-h_main__wrap.-right {
  margin-left: auto;
}

.p-rf-h_main__wrap.-right > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.p-rf-h_main__wrap.-right > ul li .c-rf-button {
  width: calc(4em + 2px);
  position: relative;
  height: 45px;
}

.p-rf-h_main__wrap.-right > ul li .c-rf-button > span{
  margin: auto;
}

.p-rf-h_main__wrap.-right > ul li .c-rf-button i{
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 4px;
  text-align: center;
}

.p-rf-h_main__wrap.-right > ul li .c-rf-button .c-rf-button__text{
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 4px;
  text-align: center;
}

.p-rf-h_main__wrap.-right .c-rf-link {
  font-size: 14px;
}

.p-rf-h_main__logo, .p-rf-h_main__subTitle {
  line-height: 1;
}

.p-rf-h_main__logo {
  margin: 0;
}

.p-rf-h_main__logo a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  outline: none;
}

.p-rf-h_main__logo a:focus {
  border-radius: 4px;
  border-color: #bf0000;
}

.p-rf-h_main__logo + .p-rf-h_main__subTitle {
  margin-left: 8px;
}

.p-rf-h_main__logo.-tiny + .p-rf-h_main__subTitle {
  margin-left: 8px;
}

.p-rf-h_main__logo + .p-rf-h_main__logo.-tiny {
  margin-left: 8px;
}

.p-rf-h_main__subTitle + .p-rf-h_main__logo.-tiny {
  margin-left: 8px;
}

.p-rf-h_main.-simple {
  border-bottom: solid 2px #bf0000 !important;
}

.p-rf-h_main.-simple .p-rf-h_main__wrap.-right > ul {
  align-items: center;
}

.p-rf-h_search {
  background-color: #fff;
  border-top: solid 1px #EBEBEB !important;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10000;
}

.p-rf-h_search.is-open {
  display: block;
}

.p-rf-h_search__inner {
  position: relative;
  padding: 16px 56px 16px 16px;
}

.p-rf-h_search .c-rf-search__title {
  display: block;
  font-size: 12px;
  font-weight: 700;
}

.p-rf-h_search .c-rf-search__title + .c-rf-search__wrap {
  margin-top: 8px;
}

.p-rf-h_search .c-rf-close-button {
  top: 64.5px;
  font-size: 16px;
  position: absolute;
  right: 16px;
  transform: translateY(-50%);
}

.p-rf-h {
  color: #333;
  /* padding-top: 60px; */
  /* 以下追加 */
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10001;
  /* 以上追加 */
}
.p-rf-h__notice {
  border-bottom: solid 1px #EBEBEB !important;
  font-size: 10px;
  color: #686868;
  padding: 8px;
}

.p-rf-h__notice p {
  margin: 0;
}

.p-rf-h__notice .c-rf-link {
  border: solid 2px transparent;
  color: #D80000;
  outline: none;
  padding: 2px;
}

.p-rf-h__notice .c-rf-link > span {
  position: relative;
}

.p-rf-h__notice .c-rf-link > span::after {
  background-color: #D80000;
  height: 1px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}

.p-rf-h__notice .c-rf-link__text {
  vertical-align: baseline !important;
}

.p-rf-h__notice .c-rf-link:focus {
  border-color: #8C0000;
  color: #8C0000;
}

.p-rf-h__notice .c-rf-link:focus > span::after {
  background-color: transparent;
}

.p-rf-h__notice .c-rf-link:hover {
  color: #BF0000;
}

.p-rf-h__notice .c-rf-link:hover > span::after {
  background-color: #BF0000;
  height: 2px;
}

.p-rf-h__notice .c-rf-link:active {
  border-color: #8C0000;
  color: #8C0000;
  font-weight: bold;
}

.p-rf-h__notice .c-rf-link:active > span::after {
  background-color: #8C0000;
  height: 1px;
}

.p-rf-h__snav {
  border-bottom: solid 1px #EBEBEB !important;
}

.p-rf-h__snav > ul {
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 8px;
  justify-content: space-evenly;
}

.p-rf-h__snav > ul > li {
  max-width: 4em;
  text-align: center;
  width: 20%;
}

.u-rf-font-bold {
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .c-rf-button[data-type="icon"], .c-rf-button[data-type="search"] {
    padding: 4px 6px;
  }
  .c-rf-button + .p-rf-h_main__wrap {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .p-rf-h_main.-simple {
    height: 118px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
  }
  .p-rf-h_main.-simple .p-rf-h_main__subTitle + .p-rf-h_main__logo.-tiny {
    margin-left: 30px;
  }
  .p-rf-h_main.-simple .p-rf-h_main__wrap.-right > ul > li {
    margin-left: 48px;
  }
  .u-hidden-md {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .p-rf-h_main.-simple {
    height: 96px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
  }
  .u-visible-md {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .u-hidden-lg {
    display: none !important;
  }
}

@media screen and (min-width: 414px) {
  .u-hidden-sm {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .u-visible-lg {
    display: none !important;
  }
}

@media screen and (max-width: 413px) {
  .u-visible-sm {
    display: none !important;
  }
}

.p-rf-h i[aria-hidden=true],
.p-rf-f i[aria-hidden=true]{
  display: inline-block !important;
}

.p-rf-f_sitemap__privacy{
  padding: 0 24px;
}

.c-rf-search .mf_finder_searchBox_query_input{
  border-width: 1px !important;
}
.c-rf-search .mf_finder_searchBox_items_wrapper{
  padding: 0 !important;
}
.c-rf-search .mf_finder_searchBox_submit{
  right: 0 !important;
}

.c-rf-search .hidden-search-box {
  position: static !important;
  padding:0 !important;
  z-index: 99999;
}
[aria-current="true"]{
  font-weight: bold;
  color:#bf0000;
}
.c-rf-link .rex-icon-toushiru::before,
.c-rf-link .rex-icon-ispeed::before,
.c-rf-link .rex-icon-ispeed-fx::before,
.c-rf-link .rex-icon-ispeed-op::before{
  vertical-align: text-bottom;
}