@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. nav-global
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. nav-global
----------------------------------------------------------------- */
div#nav-global{
margin-top:12px;
background-color:#ffffff;
}

div#nav-global p,
div#nav-global ul,
div#nav-global ol,
div#nav-global dl{
margin-top:0;
margin-bottom:0;
}

div#nav-global dl{
margin-bottom:0;
position:relative;
}

div#nav-global dl dt{
position:absolute;
left:-9999px;
}

div#nav-global dl dd{
min-height:40px;
}

div#nav-global dl dd ul{
margin-bottom:0;
padding-bottom:6px;
background:#ececec url("/web/shared/images/nav-global/global-nav-bg-01.gif") repeat-x 0 0;
}

div#nav-global dl dd li{
padding:3px 3px 1.7em 0;
float:left;
min-height:24px;
list-style:none;
line-height:0.5;
}

/* ie6 */
*html div#nav-global dl dd li{
padding-bottom:1.75em;
}

/* ie7 */
*+html div#nav-global dl dd li{
padding-bottom:1.75em;
}


div#nav-global dl dd li.selected{
padding-top:0;
}

div#nav-global dl dd li ul{
margin-top:3px;
position:absolute;
top:24px;
left:0;
width:950px;
background-color:#003399;
background-image:none;
}


div#nav-global dl dd li li{
padding:9px 9px 4px;
background:url("/web/shared/images/nav-global/bg-line-01.gif") no-repeat 100% 80%;
min-height:0.65em;
font-size:81.25%;
white-space:nowrap;
}

div#nav-global dl dd li li.last-child{
background-image:none;
}

div#nav-global dl dd li li a{
color:#ffffff;
}

div#nav-global dl dd.type-01 li{
padding-bottom:4em;
}

div#nav-global dl dd.type-01 li li{
padding-bottom:9px;
}

div#nav-global dl dd.type-02{
padding-bottom:5px;
min-height:29px;
background-color:#ececec;
}
div#nav-global dl dd.type-02 ul{
background-color:#003399;
}
div#nav-global dl dd.type-02 li{
padding-bottom:7px;
}

div#nav-global dl dd.type-02 li li{
padding-bottom:9px;
}

div#nav-global dl dd.type-03 ul{
background:#ececec url("/web/shared/images/nav-global/global-nav-bg-02.gif") repeat-x 0 0;
}

div#nav-global li a:link,
div#nav-global li a:visited{
text-decoration:underline;
}

div#nav-global li a:active,
div#nav-global li a:hover,
div#nav-global li a:focus{
text-decoration:none;
}
