.jcarousel-skin-banners .jcarousel-container {
	background: #EBEBEB;
}
.jcarousel-skin-banners .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-banners .jcarousel-container-horizontal {
	width: 755px;
	padding: 12px 0px;
}
.jcarousel-skin-banners .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-banners .jcarousel-clip-horizontal {
	width:  715px;
	height: 50px;
	margin: 0 19px 0 21px;
}
.jcarousel-skin-banners .jcarousel-clip-vertical {
	width:  75px;
	height: 74px;
}
.jcarousel-skin-banners .jcarousel-item {
	width: 175px;
	height: 50px;
}
.jcarousel-skin-banners .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 4px;
}
.jcarousel-skin-banners .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-banners .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-banners .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-banners .jcarousel-next-horizontal {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 15px;
	height: 66px;
	cursor: pointer;
	/*
	background: transparent url(/web/images/top201106/sprite_carousel_fund_tab.png) no-repeat top left;
	background-position: 0 -824px;*/
	background: url("/web/images/top201106/sprite_utility01.png") no-repeat;
	background-position: -437px 0;
}
.jcarousel-skin-banners .jcarousel-prev-horizontal {
	position: absolute;
	top: 4px;
	left: 3px;
	width: 15px;
	height: 66px;
	cursor: pointer;
	/*
	background: transparent url(/web/images/top201106/sprite_carousel_fund_tab.png) no-repeat top left;
	background-position: 0 -728px;*/
	background: url("/web/images/top201106/sprite_utility01.png") no-repeat;
	background-position: -419px 0;
}
