<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>テンプレート | 楽天証券</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Rakuten Securities, Inc.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href="https://www.rakuten-sec.co.jp/web/products/">
<link rel="apple-touch-icon-precomposed" href="/smartphone/img/securities.png">

<!-- ::::::::::::: ▼▼ stylesheet include :  start ▼▼ ::::::::::::::::: -->
<!--#include virtual="/smartphone/shared/include/s1-stylesheet-bottom.html" -->
<!-- ::::::::::::: ▲▲ stylesheet include :  end ▲▲ ::::::::::::::::: -->

</head>

<body id="top">

<a id="pagetop"></a>

<!--#include virtual="/smartphone/shared/include/header/s1-smt-header.html" -->


<div class="s1-content-wrap title-area">
  <div class="s1-hdg-lv1"><h1 class="s1-hdg-lv1__element">現物取引</h1></div>
</div><!-- /.s1-content-wrap -->

<!-- ::::::::::::: ▼▼ カルーセル : お知らせ start ▼▼ ::::::::::::::::: -->
<div class="s1-content info">
  <ul class="slider-info">
    <li class="slide-info-content">
      <a href="#">
        <span class="slide-info-content__ttl">お知らせ</span>
        <span class="slide-info-content__date">2017.10.10</span>
        <p class="slide-info-content__txt">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
      </a>
    </li>
    <li class="slide-info-content">
      <a href="#">
        <span class="slide-info-content__ttl">お知らせ</span>
        <span class="slide-info-content__date">2017.10.10</span>
        <p class="slide-info-content__txt">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
      </a>
    </li>
    <li class="slide-info-content">
      <a href="#">
        <span class="slide-info-content__ttl">お知らせ</span>
        <span class="slide-info-content__date">2017.10.10</span>
        <p class="slide-info-content__txt">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
      </a>
    </li>
  </ul>
</div>
<!-- ::::::::::::: ▲▲ カルーセル : お知らせ end ▲▲ ::::::::::::::::: -->




<div class="s1-content-wrap">

<!-- ::::::::::::: ▼▼ 目次 start ▼▼ ::::::::::::::::: -->
<div class="s1-list-anchor--wrap">
  <p class="s1-list-anchor__ttl">目次</p>
  <p class="s1-list-anchor__toggle-txt">折りたたむ</p>
  <ul class="s1-list-anchor">
    <li class="s1-list-anchor__item"><a href="#anc01" class="s1-list-anchor__element">現物取引のメリット</a></li>
    <li class="s1-list-anchor__item"><a href="#anc02" class="s1-list-anchor__element">現物取引手数料</a></li>
    <li class="s1-list-anchor__item"><a href="#anc03" class="s1-list-anchor__element">取引ツールiSPEED/マーケットスピード</a></li>
    <li class="s1-list-anchor__item"><a href="#anc04" class="s1-list-anchor__element">楽天証券ならではの魅力</a></li>
    <li class="s1-list-anchor__item"><a href="#anc05" class="s1-list-anchor__element">現物取引をはじめるには</a></li>
  </ul>
</div><!-- /.s1-list-anchor--wrap -->
<!-- ::::::::::::: ▲▲ 目次 end ▲▲ ::::::::::::::::: -->

</div><!-- /.s1-content-wrap -->




<div class="s1-content">
  <div id="anc01" class="s1-hdg-lv2">
    <h2 class="s1-hdg-lv2__element">現物取引のメリット</h2>
  </div>

  <div class="s1-content-area s1-content-first">

  <div class="s1-hdg-lv3 mt-0">
    <h3 class="s1-hdg-lv3__element">3つのメリット</h3>
  </div>

  <p>現物取引は、取引所を通じて株の売買を行う株取引の基本となる取引です。<br>株を買う《得る・持つ》（=株主になる）ことにより、以下のメリットを享受することができます。</p>

  </div><!-- /s1-content-area -->

  <div class="s1-content-area mb-0 pt-half pb-half">
    <p class="s1-box-link-04__ttl">現物取引メニュー</p>
    <ul class="s1-box-link-04__list">
      <li class="s1-box-link-04__item">
        <a href="#">
          現物取引手数料
        </a>
      </li>
      <li class="s1-box-link-04__item">
        <a href="#">
          現物取引ルール
        </a>
      </li>
      <li class="s1-box-link-04__item">
        <a href="#" class="border-none">
          ライツ・オファリング
        </a>
      </li>
      <li class="s1-box-link-04__item">
        <a href="#" class="border-none">
          今月のお宝優待株
        </a>
      </li>
    </ul><!-- /.s1-box-link-04__list -->
  </div>

</div><!-- /.s1-content -->


<div class="s1-content">
  <div id="anc01" class="s1-hdg-lv2">
    <h2 class="s1-hdg-lv2__element">現物取引 手数料</h2>
  </div>

  <div class="s1-content-area s1-content-first">
  <div class="s1-hdg-lv3 mt-0">
    <h3 class="s1-hdg-lv3__element">現物取引手数料は業界最低水<sup>※</sup></h3>
  </div>
  </div><!-- /s1-content-area -->
</div><!-- /.s1-content -->


<div class="s1-content">
  <div id="anc01" class="s1-hdg-lv2">
    <h2 class="s1-hdg-lv2__element">取引ツールiSPEED/マーケットスピード</h2>
  </div>

  <div class="s1-content-area s1-content-first">
  <div class="s1-hdg-lv3 mt-0">
    <h3 class="s1-hdg-lv3__element">いつでもスピーディーにお取引</h3>
  </div>
  </div><!-- /s1-content-area -->
</div><!-- /.s1-content -->


<div class="s1-content">
  <div id="anc01" class="s1-hdg-lv2">
    <h2 class="s1-hdg-lv2__element">楽天証券ならではの魅力</h2>
  </div>

  <div class="s1-content-area s1-content-first">
  <div class="s1-hdg-lv3 mt-0">
    <h3 class="s1-hdg-lv3__element">マネーブリッジ（自動スイープ）</h3>
  </div>
  </div><!-- /s1-content-area -->
</div><!-- /.s1-content -->


<div class="s1-content">
  <div id="anc01" class="s1-hdg-lv2">
    <h2 class="s1-hdg-lv2__element">現物取引をはじめるには</h2>
  </div>

  <div class="s1-content-area s1-content-first">
  <div class="s1-hdg-lv3 mt-0">
    <h3 class="s1-hdg-lv3__element">口座開設からはじめよう</h3>
  </div>
  </div><!-- /s1-content-area -->
</div><!-- /.s1-content -->


<!-- ::::::::::::: ▼▼ パンくず : start ▼▼ ::::::::::::::::: -->
<div class="s1-content-wrap">
  <ul class="s1-breadcrumbs">
    <li><a href="/smartphone/">ホーム</a>&nbsp;&gt;&nbsp;</li>
    <li>NISA</li>
  </ul>
</div><!-- /.s1-content-wrap -->
<!-- ::::::::::::: ▲▲ パンくず : end ▲▲ ::::::::::::::::: -->


<!-- ::::::::::::: ▼▼ ローカルナビ : start ▼▼ ::::::::::::::::: -->
<div class="s1-local-nav">
  <ul class="s1-local-nav-cat">
    <li class="s1-local-nav-cat__item is-current">
      <span class="current-txt">
        現物取引トップ
      </span>
    </li>
    <li class="s1-local-nav-cat__item">
      <a href="#">
        現物取引 手数料
      </a>
    </li>
    <li class="s1-local-nav-cat__item">
      <a href="#">
        現物取引 取引ルール
      </a>
    </li>
    <li class="s1-local-nav-cat__item">
      <a href="#">
        ライツ・オファリング
      </a>
    </li>
    <li class="s1-local-nav-cat__item">
      <a href="#">
        今月のお宝優待株
      </a>
    </li>
  </ul>
</div><!-- /.s1-local-nav -->
<!-- ::::::::::::: ▲▲ ローカルナビ : end ▲▲ ::::::::::::::::: -->


<!-- s1-common-bottom-footer include start -->
<!--#include virtual="/smartphone/shared/include/s1-common-bottom-footer.html" -->
<!-- s1-common-bottom-footer include end -->


<!-- ============ログ解析============ -->
<!-- SiteCatalyst code -->
<script type="text/javascript" src="/web/shared/js/sc/s_code.js"></script>
<script type="text/javascript"><!--
void(s.t())
//--></script>
<!-- End SiteCatalyst code -->

</body>
</html>
