/* ----------------------------------------------------------------
*	01. full banner module
----------------------------------------------------------------- */
/* line 7, ../scss/_col3-banner.scss */
div#col3-banner-box {
  position: relative;
  width: 545px;
  height: 145px;
  margin: 0 0 1.25em;
}

/* line 14, ../scss/_col3-banner.scss */
div#col3-banner-box div#col3-banner ul {
  margin: 0;
}

/* line 18, ../scss/_col3-banner.scss */
div#col3-banner-box div#col3-banner ul li {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 24, ../scss/_col3-banner.scss */
div#col3-banner-box div#col3-banner-nav {
  position: absolute;
  top: 120px;
  left: 0;
}

/* line 30, ../scss/_col3-banner.scss */
div#col3-banner-box div#col3-banner-nav ul {
  margin: 0;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
}

div#col3-banner-box div#col3-banner-nav ul li:first-child {
  border-left: 1px solid #e7e7e7;
}

div#col3-banner-box div#col3-banner-nav ul li {
  float: left;
  border-right: 1px solid #e7e7e7;
}


/* div#col3-banner-nav ul li{
width:180px;
height:30px;
} */
/* line 40, ../scss/_col3-banner.scss */
div#col3-banner-nav ul li a {
  display: block;
  width: 135px;
  height: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 52, ../scss/_col3-banner.scss */
div#col3-banner-nav ul li a:hover,
div#col3-banner-nav ul li.selected a {
  background-position: -135px 0;
}

div#col3-banner-box div#col3-banner-nav ul li:first-child {
  border-left: 1px solid #e7e7e7;
}

div#col3-banner-box div#col3-banner-nav ul li {
  float: left;
  border-right: 1px solid #e7e7e7;
}





/* line 24, ../scss/_col3-banner.scss */
div#col3-banner-box div#col3-banner-fop-nav {
  position: absolute;
  top: 120px;
  left: 0;
}

/* line 30, ../scss/_col3-banner.scss */
div#col3-banner-box div#col3-banner-fop-nav ul {
  margin: 0;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
}


/* div#col3-banner-nav ul li{
width:180px;
height:30px;
} */
/* line 40, ../scss/_col3-banner.scss */
div#col3-banner-fop-nav ul li a {
  display: block;
  width: 181px;
  height: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 52, ../scss/_col3-banner.scss */
div#col3-banner-fop-nav ul li a:hover,
div#col3-banner-fop-nav ul li.selected a {
  background-position: -181px 0;
}

div#col3-banner-box div#col3-banner-fop-nav ul li:first-child {
  border-left: 0;
}

div#col3-banner-box div#col3-banner-fop-nav ul li {
  float: left;
  border-left: 1px solid #e7e7e7;
}
