@charset 'utf-8';

div#full-banner-box {
    height: 181px;
    margin: 0 0 10px;
    position: relative;
    width: 755px;
}
div#full-banner-box div#full-banner ul {
    margin: 0;
}
div#full-banner-box div#full-banner ul li {
    left: 0;
    position: absolute;
    top: 0;
}
div#full-banner-box div#full-banner-nav {
    position: absolute;
    right: 0;
    top: 0;
}
div#full-banner-box div#full-banner-nav ul {
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
}
div#full-banner-nav ul li a {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 180px;
}
div#full-banner-nav ul li a:hover, div#full-banner-nav ul li.selected a {
    background-position: -180px 0;
}
