header[role=banner],
footer[role=contentinfo] {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
}

header[role=banner] *,
header[role=banner] ::before,
header[role=banner] ::after,
footer[role=contentinfo] *,
footer[role=contentinfo] ::before,
footer[role=contentinfo] ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

header[role=banner] ul,
footer[role=contentinfo] ul {
  list-style-type: none;
}

header[role=banner] img,
footer[role=contentinfo] img {
  vertical-align: bottom;
}

.p-rf-h a:hover {
  text-decoration: none !important;
}

.l-rf-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1224px;
  min-width: 1024px;
}

.c-rf-button {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  /* basic */
  /* fill */
  /* search */
  /* pulldown */
  /* mega */
}

.c-rf-button[type=button] {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
}

.c-rf-button[data-type=basic], .c-rf-button[data-type=fill], .c-rf-button[data-type=icon], .c-rf-button[data-type*=mega-], .c-rf-button[data-type=search] {
  align-items: center;
  display: inline-flex;
  text-align: center;
}

.c-rf-button[data-type=acc] > span > *, .c-rf-button[data-type=basic] > span > *, .c-rf-button[data-type=fill] > span > *, .c-rf-button[data-type*=mega-] > span > *, .c-rf-button[data-type=pull] > span > * {
  vertical-align: middle;
}

.c-rf-button[data-type=basic], .c-rf-button[data-type=fill], .c-rf-button[data-type=icon], .c-rf-button[data-type=search] {
  border-radius: 4px;
  vertical-align: middle;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button[data-type=acc] [class*=rex-icon-]:first-child, .c-rf-button[data-type=basic] [class*=rex-icon-]:first-child, .c-rf-button[data-type=fill] [class*=rex-icon-]:first-child, .c-rf-button[data-type*=mega-] [class*=rex-icon-]:first-child,
.c-rf-button[data-type=acc] [class*=sure-icon-]:first-child, .c-rf-button[data-type=basic] [class*=sure-icon-]:first-child, .c-rf-button[data-type=fill] [class*=sure-icon-]:first-child, .c-rf-button[data-type*=mega-] [class*=sure-icon-]:first-child {
  font-size: 16px;
  margin-right: 8px;
}

.c-rf-button[data-type=acc], .c-rf-button[data-type*=mega-], .c-rf-button[data-type=pull] {
  position: relative;
}

.c-rf-button[data-type=acc] [class*=rex-icon-]:last-child, .c-rf-button[data-type*=mega-] [class*=rex-icon-]:last-child, .c-rf-button[data-type=pull] [class*=rex-icon-]:last-child, .c-rf-button[data-type=acc] [class*=sure-icon-]:last-child, .c-rf-button[data-type*=mega-] [class*=sure-icon-]:last-child, .c-rf-button[data-type=pull] [class*=sure-icon-]:last-child {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button[data-type=acc][aria-expanded=true] .rex-icon-chevron-down, .c-rf-button[data-type=mega-down][aria-expanded=true] .rex-icon-chevron-down, .c-rf-button[data-type=pull][aria-expanded=true] .rex-icon-chevron-down {
  transform: translateY(-50%) rotate(180deg) !important;
}

.c-rf-button[data-type=basic], .c-rf-button[data-type=fill] {
  font-size: 14px;
  height: 44px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
}

.c-rf-button[data-type=basic]:focus, .c-rf-button[data-type=fill]:focus {
  border: solid 1px #fff;
}

.c-rf-button[data-type=icon], .c-rf-button[data-type=search] {
  border: solid 1px transparent;
  color: #686868;
  line-height: 1;
  outline: none;
  padding: 4px 8px;
}

.c-rf-button[data-type=icon] [class*=rex-icon-], .c-rf-button[data-type=search] [class*=rex-icon-],
.c-rf-button[data-type=icon] [class*=sure-icon-], .c-rf-button[data-type=search] [class*=sure-icon-] {
  font-size: 20px;
}

.c-rf-button[data-type=icon] [class*=rex-icon-] + span, .c-rf-button[data-type=search] [class*=rex-icon-] + span,
.c-rf-button[data-type=icon] [class*=sure-icon-] + span, .c-rf-button[data-type=search] [class*=sure-icon-] + span {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.c-rf-button[data-type=icon]:hover, .c-rf-button[data-type=search]:hover {
  background-color: #F7F7F7;
  color: #bf0000;
  text-decoration: none !important;
}

.c-rf-button[data-type=icon]:active, .c-rf-button[data-type=search]:active {
  background-color: #bf0000;
  color: #fff;
}

.c-rf-button[data-type=icon]:focus, .c-rf-button[data-type=search]:focus {
  background-color: #fff;
  border-color: #bf0000;
  color: #bf0000;
}

.c-rf-button[data-type=basic] {
  background-color: #fff;
  border: solid 1px #bf0000;
  color: #bf0000;
}

.c-rf-button[data-type=basic]:hover {
  background-color: #F7F7F7;
}

.c-rf-button[data-type=basic]:active, .c-rf-button[data-type=basic]:focus {
  background-color: #bf0000;
  color: #fff;
}

.c-rf-button[data-type=basic]:focus {
  box-shadow: 0 0 0 1px #bf0000;
}

.c-rf-button[data-type=fill] {
  background-color: #bf0000;
  border: solid 1px transparent;
  color: #fff;
}

.c-rf-button[data-type=fill]:hover {
  background-color: #EC0606;
}

.c-rf-button[data-type=fill]:active, .c-rf-button[data-type=fill]:focus {
  border-color: 1px solid #8C0000;
  background-color: #8C0000;
}

.c-rf-button[data-type=fill]:focus {
  box-shadow: 0 0 0 1px #8C0000;
}

.c-rf-button[data-type=search][aria-expanded=true] {
  background-color: #bf0000;
  color: #fff !important;
}

.c-rf-button[data-type=pull] {
  border-color: transparent;
  border-style: solid;
  border-width: 1px !important;
  border-radius: 4px;
  line-height: 20px;
  outline: none;
  padding: 4px 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button[data-type=pull] > span::after {
  border-left: solid 3.5px transparent;
  border-right: solid 3.5px transparent;
  border-top: solid 5px #686868;
  content: "";
  display: inline-block;
  margin-left: 4px;
  transition: border-color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  vertical-align: middle;
}

.c-rf-button[data-type=pull] [class*=rex-icon-]:first-child {
  font-size: 16px;
  margin-right: 4px;
}

.c-rf-button[data-type=pull]:focus {
  background-color: #fff;
  border-color: #bf0000;
  color: #bf0000;
}

.c-rf-button[data-type=pull]:focus > span::after {
  border-top-color: #bf0000;
}

.c-rf-button[data-type=pull]:active, .c-rf-button[data-type=pull][aria-expanded=true] {
  background-color: #bf0000 !important;
  color: #fff !important;
}

.c-rf-button[data-type=pull]:active > span::after, .c-rf-button[data-type=pull][aria-expanded=true] > span::after {
  border-top-color: #fff !important;
}

.c-rf-button[data-type*=mega-] {
  justify-content: center;
  height: 52px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 100%;
  z-index: 1;
}

.c-rf-button[data-type*=mega-]:hover {
  background-color: #F7F7F7;
  color: #bf0000 !important;
}

.c-rf-button[data-type*=mega-]:active {
  color: #fff;
}

.c-rf-button[data-type*=mega-]:focus {
  background-color: #fff;
  outline: solid 1px #bf0000;
  outline-offset: -1px;
  color: #bf0000;
}

.c-rf-button[data-type*=mega-]:hover > span::after {
  border-top-color: #bf0000;
}

.c-rf-button[data-type*=mega-]:active > span::after {
  border-top-color: #fff;
}

.c-rf-button[data-type*=mega-]:focus > span::after {
  border-top-color: #bf0000;
}

.c-rf-button[data-type*=mega-][aria-expanded=true] > span::after {
  border-top-color: #fff !important;
}

.c-rf-button[data-type=mega-down] > span::after {
  transition: border-color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  border-left: solid 3.5px transparent;
  border-right: solid 3.5px transparent;
  border-top: solid 5px #333;
  content: "";
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.c-rf-button[data-type=mega-down][aria-expanded=true] {
  background-color: #bf0000;
  color: #fff !important;
}

.c-rf-button[data-type=mega-down]:active {
  background-color: #EC0606;
  color: #fff !important;
}

.c-rf-button[data-type=mega-down]:active > span::after {
  border-top-color: #fff !important;
}

.c-rf-button[data-type=mega-link]:active {
  background-color: #bf0000;
  color: #fff;
}

.c-rf-button[data-type=acc] {
  padding-left: 4px;
  padding-right: 4px;
}

.c-rf-button__text {
  text-align: center;
}

.c-rf-button__text.-line-2 > span + span {
  color: #333;
  display: block;
  font-size: 10px;
  transition: color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-button:active .c-rf-button__text.-line-2 > span + span,
.c-rf-button:focus .c-rf-button__text.-line-2 > span + span {
  color: #fff;
}

.c-rf-close-button {
  background-color: transparent;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 0;
  position: absolute;
}

.c-rf-close-button .rex-icon-close {
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px !important;
  display: inline-block;
  padding: 1.5px;
}

.c-rf-close-button:hover .rex-icon-close {
  background-color: #EBEBEB;
  color: #bf0000;
}

.c-rf-close-button:focus .rex-icon-close {
  border-color: #bf0000;
  color: #bf0000;
}

.c-rf-hr {
  border-top: 1px solid #ebebeb !important;
  display: block;
  height: 0;
  margin: 0;
}

.c-rf-link {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 1px !important;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  line-height: 16px;
  outline: none;
  padding: 3px;
  text-decoration: none;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), color 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-link > span > * {
  vertical-align: middle !important;
}

.c-rf-link [class*=rex-icon-]:first-child,
.c-rf-link [class*=sure-icon-]:first-child {
  margin-right: 4px;
}

.c-rf-link [class*=rex-icon-]:last-child,
.c-rf-link [class*=sure-icon-]:last-child {
  margin-left: 4px;
}

.c-rf-link.-basic:focus, .c-rf-link.-ftr:focus, .c-rf-link.-switcher:focus {
  color: #bf0000;
  border-color: #bf0000;
}

.c-rf-link.-basic:hover, .c-rf-link.-ftr:hover, .c-rf-link.-switcher:hover {
  color: #bf0000 !important;
  text-decoration: none !important;
}

.c-rf-link.-basic, .c-rf-link.-switcher {
  color: #686868;
}

.c-rf-link.-basic:hover, .c-rf-link.-switcher:hover {
  background-color: #F7F7F7;
}

.c-rf-link.-ftr {
  color: #686868;
}

.c-rf-link.-ftr:hover {
  text-decoration: underline !important;
}

.c-rf-link.-ftr:active {
  color: #bf0000 !important;
}

.c-rf-link.-switcher:active {
  text-decoration: underline;
}

.c-rf-link.-switcher.is-active {
  color: #bf0000;
  text-decoration: underline;
}

.c-rf-promotion {
  width: 192px;
}

.c-rf-promotion.-wide {
  width: 568px;
}

.c-rf-promotion__dtl {
  margin: 0 0 24px;
}

.c-rf-promotion__dtl > dt {
  font-size: 16px;
  font-weight: bold;
}

.c-rf-promotion__dtl > dd {
  font-size: 14px;
  margin: 16px 0 0 0;
}

.c-rf-promotion__dtl > dd.c-rf-promotion__dtd {
  margin-top: 8px;
}

.c-rf-promotion__image {
  border-radius: 4px;
  display: block;
  margin-top: 16px;
  outline: none;
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.c-rf-promotion__image:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.c-rf-promotion__image:focus {
  box-shadow: 0 0 0 2px #BF0000;
}

.c-rf-promotion + .c-rf-promotion {
  margin-left: 24px;
}

.c-rf-search__wrap {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.c-rf-search__wrap input[type=text],
.c-rf-search__wrap button[type=submit] {
  height: 40px;
}

.c-rf-search__wrap input[type=text] {
  border: 1px solid #686868;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 8px 56px 8px 16px;
  transition: border 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 100%;
}

.c-rf-search__wrap input[type=text]:active {
  border: 1px solid #bf0000;
}

.c-rf-search__wrap input[type=text]:focus {
  outline: 2px solid #BF0000;
  outline-offset: -2px;
}

.c-rf-search__wrap button[type=submit] {
  align-items: center;
  background-color: #bf0000;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), outline 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 40px;
}

.c-rf-search__wrap button[type=submit]:hover {
  background-color: #EC0606;
}

.c-rf-search__wrap button[type=submit]:focus {
  background-color: #590000;
  outline: 2px solid #EC0606;
  outline-offset: -2px;
}

.p-rf-f a,
.p-rf-f a:hover {
  color: #333 !important;
  text-decoration: none !important;
}

.p-rf-f_bottom {
  margin-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.p-rf-f_companyinfo {
  font-size: 12px;
  margin: 16px 0 0 0;
  padding: 0;
}

.p-rf-f_companyinfo > li {
  display: inline-block;
}

.p-rf-f_companyinfo > li:not(:last-child) {
  margin-right: 24px;
}

.p-rf-f_companyinfo a {
  border-radius: 4px;
  line-height: 16px;
  padding-left: 4px;
  padding-right: 4px;
}

.p-rf-f_copyright {
  font-size: 10px;
  margin: 16px 0 0 0;
}

.p-rf-f_group {
  align-items: center;
  display: flex;
  padding: 24px 0 70px;
}

.p-rf-f_group__box {
  margin: 0;
}

.p-rf-f_group__box > dt {
  font-size: 10px;
  font-weight: 500;
  padding-left: 4px !important;
}

.p-rf-f_group__box > dd {
  display: inline-block;
  font-size: 14px;
  margin-left: 0;
}

.p-rf-f_group__box > dd:not(:last-child) {
  margin-right: 32px;
}

.p-rf-f_lang {
  display: inline-block;
  position: relative;
}

.p-rf-f_lang .c-rf-button {
  color: #686868;
  font-size: 12px;
}

.p-rf-f_lang .c-rf-button [class*=rex-icon-]:first-child,
.p-rf-f_lang .c-rf-button [class*=sure-icon-]:first-child {
  font-size: 16px;
}

.p-rf-f_lang .c-rf-button[data-type=pull]:hover {
  background-color: #fff;
  color: #bf0000;
}

.p-rf-f_lang .c-rf-button[data-type=pull]:hover > span::after {
  border-top-color: #bf0000;
}

.p-rf-f_lang .c-rf-button + [id] {
  background-color: #fff;
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  left: 0;
  opacity: 0;
  padding-bottom: 16px !important;
  padding-top: 16px !important;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.25, 0, 0.45, 1), visibility 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  visibility: hidden;
  z-index: 10;
}

.p-rf-f_lang .c-rf-button + [id].is-open {
  opacity: 1;
  visibility: visible;
}

.p-rf-f_lang__menu {
  margin: 0;
  min-width: 160px;
  padding: 0;
  white-space: nowrap;
}

.p-rf-f_lang__menu > li:not(:first-child) {
  margin-top: 4px;
}

.p-rf-f_lang__menu .c-rf-link {
  border-radius: 0;
  color: #686868;
  display: block;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
}

.p-rf-f_lang__menu .c-rf-link > span {
  display: block;
  position: relative;
}

.p-rf-f_lang__menu .c-rf-link:hover, .p-rf-f_lang__menu .c-rf-link:focus {
  background-color: #bf0000;
  color: #fff !important;
  text-decoration: none !important;
}

.p-rf-f_lang__menu .c-rf-link.is-current {
  color: #bf0000;
  font-weight: bold;
}

.p-rf-f_lang__menu .c-rf-link .rex-icon-check {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.p-rf-f_notation {
  font-size: 10px;
  margin-top: 24px;
}

.p-rf-f_notation > *:first-child {
  margin-top: 0;
}

.p-rf-f_notation > dl {
  margin: 0;
}

.p-rf-f_notation > dl > dt,
.p-rf-f_notation > dl > dd {
  display: inline-block;
}

.p-rf-f_notation > dl > dt::after {
  content: ":";
}

.p-rf-f_notation > dl > dd {
  margin: 0;
}

.p-rf-f_sitemap {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.p-rf-f_sitemap::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-top: 24px;
  width: 100%;
}

.p-rf-f_sitemap:last-child::after {
  display: none;
}

.p-rf-f_sitemap + .p-rf-f_sitemap {
  margin-top: 24px;
}

.p-rf-f_sitemap .c-rf-button {
  color: #686868;
}

.p-rf-f_sitemap__Box {
  margin: 0;
}

.p-rf-f_sitemap__Box + .p-rf-f_sitemap__Box {
  margin-left: 40px;
}

.p-rf-f_sitemap__BoxHead .c-rf-text {
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
}

.p-rf-f_sitemap__BoxHead a.c-rf-text:focus {
  color: #bf0000 !important;
}

.p-rf-f_sitemap__BoxHead .c-rf-button {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.p-rf-f_sitemap__BoxBody + .p-rf-f_sitemap__BoxHead {
  margin-top: 32px;
}

.p-rf-f_sitemap__BoxBody {
  margin-left: 0;
  margin-top: 16px;
}

.p-rf-f_sitemap__BoxBody > .c-rf-text {
  padding-left: 4px;
}

.p-rf-f_sitemap__BoxBody ul {
  margin: 0;
  padding-left: 0;
}

.p-rf-f_sitemap__BoxBody ul > li {
  margin-top: 4px;
}

.p-rf-f_sitemap.-col-4 > dl {
  width: calc((100% - 120px) / 4);
}

.p-rf-f_sitemap.-col-4 > dl.-twice {
  width: calc((100% - 120px) / 4 * 2 + 40px);
}

.p-rf-f_sitemap.-col-5 > dl {
  width: calc((100% - 160px) / 5);
}

.p-rf-f_sitemap.-col-5 > dl.-twice {
  width: calc((100% - 160px) / 5 * 2 + 40px);
}

.p-rf-f_sitemap.-simple li {
  margin-right: 48px;
}

.p-rf-f_sitemap.-simple:not(:first-child) {
  margin-top: 24px;
}

.p-rf-f {
  color: #333;
  min-width: 1024px;
  border-top: 1px solid #fff;
}

.p-rf-f__inner.-top {
  background-color: #F7F7F7;
  padding-top: 24px;
}

.p-rf-f__inner.-bottom {
  background-color: #fff;
}

.p-rf-gnav {
  color: #4d4d4d !important;
  position: relative;
}

.p-rf-gnav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.p-rf-gnav__wrap {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 14px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 1px);
  transition: opacity 0.3s cubic-bezier(0.25, 0, 0.45, 1), visibility 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  visibility: hidden;
  z-index: 10;
}

.p-rf-gnav__wrap.is-open {
  opacity: 1;
  visibility: visible;
}

.p-rf-gnav__wrap .c-rf-close-button {
  color: #bf0000;
  font-size: 16px;
  right: 16px;
  top: 16px;
}

.p-rf-gnav__wrap .p-rf-gnav__menuBox .c-rf-text span {
  color: #333 !important;
}

.p-rf-gnav__wrap .p-rf-gnav__menuBox .c-rf-text a:hover span {
  color: #bf0000 !important;
}

.p-rf-gnav__promotion {
  background-color: #F7F7F7;
  box-sizing: border-box;
  display: flex;
  padding: 24px;
}

.p-rf-gnav__menu {
  padding: 24px 40px 24px 24px;
}

.p-rf-gnav__menu .c-rf-link {
  color: #686868;
  line-height: 16px;
  padding: 4px 8px;
}

.p-rf-gnav__menu.-simple li[data-level="2"] {
  min-width: 160px;
  width: auto;
}

.p-rf-gnav__menuWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-rf-gnav__menuWrap + .p-rf-gnav__menuWrap {
  border-top: 1px solid #ebebeb !important;
  margin-top: 16px;
  padding-top: 16px;
}

.p-rf-gnav__menuBox {
  margin: 0;
  padding: 0;
  width: 210px;
}

.-col-5-2 .p-rf-gnav__menuBox.-twice {
  margin: 0;
  padding: 0;
  width: 432px;
}

.p-rf-gnav__menu.-col-2 .p-rf-gnav__menuBox {
  width: 300px;
}

.p-rf-gnav__menu.-col-3 .p-rf-gnav__menuBox {
  width: 245px;
}

.p-rf-gnav__menuBox > li {
  margin-top: 8px;
}

.p-rf-gnav__menuBox .c-rf-link {
  width: 100%;
}

.p-rf-gnav__menuBoxHead + .p-rf-gnav__menuBoxHead {
  margin-top: 24px;
}

.p-rf-gnav__menuBoxHead .c-rf-text,
.p-rf-gnav__menuBoxHead .c-rf-button {
  font-size: 16px;
  font-weight: 500;
}

.p-rf-gnav__menuBoxHead [class*=rex-icon-]:first-child,
.p-rf-gnav__menuBoxHead [class*=sure-icon-]:first-child {
  color: #bf0000;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: -5px;
}

.-multi .p-rf-gnav__menuBoxHead [class*=rex-icon-]:first-child,
.-multi .p-rf-gnav__menuBoxHead [class*=sure-icon-]:first-child {
  top: -2px;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuLinks > li [class*=rex-icon-]:first-child,
.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuLinks > li [class*=sure-icon-]:first-child {
  color: #bf0000;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  left: 4px;
}

.p-rf-gnav__menuBoxBody {
  margin-left: 0;
  margin-top: 8px;
}

.-col-5-2 .p-rf-gnav__menuBox.-twice .p-rf-gnav__menuBoxBody {
  display: flex;
  justify-content: space-between;
}

.p-rf-gnav__menuBoxBody ul {
  margin: 0;
  padding: 0;
}

.-col-5-2 .p-rf-gnav__menuBox.-twice .p-rf-gnav__menuBoxBody ul {
  width: 190px;
}

.p-rf-gnav__menuBoxBody ul > li {
  margin-top: 4px;
}

.p-rf-gnav__menuBoxBody + .p-rf-gnav__menuBoxHead {
  margin-top: 32px;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text {
  padding-left: 28px;
  position: relative;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text > span,
.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text a {
  position: relative;
  padding: 4px 4px 3px 4px;
  margin-left: -4px;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text a:hover {
  color: #bf0000;
  background: #F7F7F7;
  text-decoration: none !important;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text a:active {
  color: #bf0000;
  border-color: #bf0000;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text a:focus {
  outline: 1px solid #bf0000;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text > span i,
.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxHead .c-rf-text a i {
  position: relative;
  top: 1px;
  margin-left: 8px;
  line-height: 17px;
  font-size: 13px;
  color: inherit;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuBoxBody {
  padding-left: 20px;
}

.p-rf-gnav li[data-level="1"] > .c-rf-button {
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
}

.p-rf-gnav li[data-level="1"] > .c-rf-button[aria-expanded=true]::before, .p-rf-gnav li[data-level="1"] > .c-rf-button[aria-expanded=true]::after {
  display: none;
}

.p-rf-gnav li[data-level="1"]:first-child > .c-rf-button::before,
.p-rf-gnav li[data-level="1"] > .c-rf-button::after {
  background-color: #D1D1D1;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  z-index: -1;
}

.p-rf-gnav li[data-level="1"]:first-child > .c-rf-button::before {
  left: 0;
}

.p-rf-gnav li[data-level="1"] > .c-rf-button::after {
  right: 0;
}

.p-rf-gnav__menuLinks {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.p-rf-gnav__menuLinks > li {
  width: 210px;
}

.-col-2 .p-rf-gnav__menuLinks > li {
  width: 300px;
}

.p-rf-gnav__menuLinks > li .c-rf-link {
  width: 100%;
  position: relative;
  padding-left: 28px;
}

.p-rf-gnav__menu.-hasIcon .p-rf-gnav__menuLinks > li {
  padding-left: 0;
}

.p-rf-gnav__btnWrap {
  margin-left: auto;
}

.p-rf-gnav__btnWrap > ul {
  margin: 0;
  padding: 0;
}

.p-rf-gnav__btnWrap > ul li i {
  position: relative;
  top: 2px;
}

.p-rf-gnav__menuWrap {
  width: 188px;
}

.p-rf-gnav__menu.-col-2 .p-rf-gnav__menuWrap {
  width: 616px;
}

.p-rf-gnav__menu.-col-3 .p-rf-gnav__menuWrap {
  width: 767px;
}

.p-rf-gnav__menu.-col-4 .p-rf-gnav__menuWrap {
  width: 888px;
}

.p-rf-gnav__menu.-col-5 .p-rf-gnav__menuWrap,
.p-rf-gnav__menu.-col-5-2 .p-rf-gnav__menuWrap {
  width: 1098px;
  justify-content: flex-start;
}

.p-rf-gnav__menu.-col-2 .p-rf-gnav__menuBox:not(:nth-child(2n+1)),
.p-rf-gnav__menu.-col-3 .p-rf-gnav__menuBox:not(:nth-child(3n+1)),
.p-rf-gnav__menu.-col-4 .p-rf-gnav__menuBox:not(:nth-child(4n+1)),
.p-rf-gnav__menu.-col-2 .p-rf-gnav__menuLinks > li:not(:nth-child(2n+1)),
.p-rf-gnav__menu.-col-3 .p-rf-gnav__menuLinks > li:not(:nth-child(3n+1)),
.p-rf-gnav__menu.-col-4 .p-rf-gnav__menuLinks > li:not(:nth-child(4n+1)) {
  margin-left: 16px;
}

.p-rf-gnav__menu.-col-5 .p-rf-gnav__menuBox:not(:nth-child(5n+1)),
.p-rf-gnav__menu.-col-5-2 .p-rf-gnav__menuBox:not(:nth-child(5n+5)) {
  margin-left: 12px;
}

.p-rf-gnav__menu.-col-5-2 .p-rf-gnav__menuBox:first-child {
  margin-left: 0;
}

.p-rf-gnav__menu.-col-2 .p-rf-gnav__menuBox:nth-child(n+3),
.p-rf-gnav__menu.-col-3 .p-rf-gnav__menuBox:nth-child(n+4),
.p-rf-gnav__menu.-col-4 .p-rf-gnav__menuBox:nth-child(n+5),
.p-rf-gnav__menu.-col-5 .p-rf-gnav__menuBox:nth-child(n+6),
.p-rf-gnav__menu.-col-5-2 .p-rf-gnav__menuBox:nth-child(n+5) {
  margin-top: 32px;
}

.p-rf-gnav__menu.-col-2 .p-rf-gnav__menuLinks > li:nth-child(n+3),
.p-rf-gnav__menu.-col-3 .p-rf-gnav__menuLinks > li:nth-child(n+4),
.p-rf-gnav__menu.-col-4 .p-rf-gnav__menuLinks > li:nth-child(n+5) {
  margin-top: 8px;
}

.p-rf-gnav__list.col-greater-3 > li[data-level="1"] {
  flex: 1;
}

.p-rf-gnav.-floating {
  align-items: center;
  display: flex;
}

.p-rf-gnav.-floating [data-type*=mega-] {
  height: 68px;
}

.p-rf-gnav.-floating .p-rf-gnav__wrap {
  top: calc(100% + 2px);
}

.p-rf-h, .p-rf-h i {
  line-height: 1.5;
}

.p-rf-h_gnav {
  background-color: #fff;
  border-top: solid 2px #bf0000;
}

.p-rf-h_gnav__head {
  align-items: center;
  background-color: #bf0000;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 8px 4px 8px 16px;
}

.p-rf-h_gnav__head .c-rf-button {
  color: #fff;
}

.p-rf-h_gnav__head .c-rf-button:hover {
  background-color: #EC0606;
  color: #fff;
  outline: none;
}

.p-rf-h_gnav__title {
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

.p-rf-h_gnav__search {
  background-color: #F7F7F7;
  padding: 16px;
}

.p-rf-h_group {
  color: #686868;
  display: inline-block;
  position: relative;
}

.p-rf-h_group .c-rf-button:hover {
  background-color: #F7F7F7;
  color: #bf0000;
}

.p-rf-h_group .c-rf-button:hover > span::after {
  border-top-color: #bf0000;
}

.p-rf-h_group__menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.25, 0, 0.45, 1), visibility 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.p-rf-h_group__menu > dl {
  margin: 0;
}

.p-rf-h_group__menu > dl > dt {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  padding-left: 4px;
  padding-right: 4px;
}

.p-rf-h_group__menu > dl > dd {
  font-size: 14px;
  margin-left: 0;
  padding: 0;
}

.p-rf-h_group__menu > dl > dd > ul {
  padding: 0;
}

.p-rf-h_group__menu > dl > dd > ul > li {
  margin-top: 8px;
}

.p-rf-h_group__menu .c-rf-link {
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.p-rf-h_group__menu .c-rf-hr {
  margin-bottom: 8px;
  margin-top: 8px;
}

.p-rf-h_group__menu.is-open {
  opacity: 1;
  visibility: visible;
}

.p-rf-h_main {
  box-sizing: border-box;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  /* simple setting */
}

.p-rf-h_main > .l-rf-container {
  display: flex;
  justify-content: space-between;
}

.p-rf-h_main__wrap.-left {
  align-items: center;
  display: flex;
}

.p-rf-h_main__wrap.-right {
  margin-left: auto;
}

.p-rf-h_main__wrap.-right > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.p-rf-h_main__wrap.-right ul li:first-child i, .p-rf-h_main__wrap.-right ul li:nth-child(2) i, .c-rf-link__text i, .c-rf-close-button i {
  line-height: 1;
}

.p-rf-h_main__wrap.-right .c-rf-link {
  font-size: 14px;
}

.p-rf-h_main__wrap.-right .c-rf-button i {
  position: relative;
  top: 2px;
}

.p-rf-h_main__wrap.-right .c-rf-button[data-type=icon], .p-rf-h_main__wrap.-right .c-rf-button[data-type=search] {
  margin-left: 4px;
}

.p-rf-h_main__wrap.-right .c-rf-button[data-type=basic], .p-rf-h_main__wrap.-right .c-rf-button[data-type=fill] {
  margin-left: 8px;
}

.p-rf-h_main__logo, .p-rf-h_main__subTitle {
  line-height: 1;
}

.p-rf-h_main__logo {
  margin: 0;
}

.p-rf-h_main__logo a {
  display: inline-block;
  border: none;
  outline: none;
}

.p-rf-h_main__logo a:focus {
  outline: 1px solid #bf0000;
  border-color: #bf0000;
  border-radius: 4px;
}

.p-rf-h_main__subTitle {
  margin-bottom: -2px;
}

.p-rf-h_main__logo + .p-rf-h_main__subTitle {
  margin-left: 8px;
}

.p-rf-h_main__logo.-tiny + .p-rf-h_main__subTitle {
  margin-left: 16px;
}

.p-rf-h_main__logo + .p-rf-h_main__logo.-tiny {
  margin-left: 24px;
}

.p-rf-h_main__subTitle + .p-rf-h_main__logo.-tiny {
  margin-left: 24px;
}

.p-rf-h_main.-simple .p-rf-h_main__subTitle + .p-rf-h_main__logo.-tiny {
  margin-left: 30px;
}

.p-rf-h_main.-simple .p-rf-h_main__wrap.-right > ul {
  align-items: center;
}

.p-rf-h_main.-simple .p-rf-h_main__wrap.-right > ul > li {
  margin-left: 48px;
}

.p-rf-h_search {
  background-color: #F7F7F7;
  border-bottom: solid 1px #EBEBEB !important;
  border-top: solid 1px #EBEBEB !important;
  left: 0;
  display: none;
  padding-bottom: 24px;
  padding-top: 24px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}

.p-rf-h_search.is-active {
  display: block;
}

.p-rf-h_search__inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 760px;
}

.p-rf-h_search__keyword {
  margin: 0;
  padding-left: 0;
}

.p-rf-h_search__keyword > li {
  display: inline-block;
}

.p-rf-h_search .c-rf-search {
  margin-left: auto;
  margin-right: auto;
}

.p-rf-h_search .c-rf-search__title + .c-rf-search__wrap {
  margin-top: 16px;
}

.p-rf-h_search .c-rf-link {
  background-color: #fff;
  border: solid 1px #9C9C9C;
  font-size: 12px;
  margin-right: 8px;
  margin-top: 16px;
}

.p-rf-h_search .c-rf-close-button {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 6px;
}

.p-rf-h_sub {
  font-size: 12px;
  letter-spacing: -0.4em;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: right;
}

.p-rf-h_sub__menu {
  display: inline-block;
  letter-spacing: normal;
  margin: 0;
  padding-left: 8px;
  position: relative;
  vertical-align: middle;
}

.p-rf-h_sub__menu > li {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.p-rf-h_sub__menu + .p-rf-h_sub__menu::before {
  background-color: #D1D1D1;
  content: "";
  height: 16px;
  left: 0;
  margin-left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.p-rf-h {
  color: #333;
  display: flex;
  flex-direction: column;
  min-width: 1024px;
}

.p-rf-h__main {
  border-bottom: solid 2px #bf0000 !important;
  order: 2;
}

.p-rf-h__gnav {
  border-bottom: solid 1px #D1D1D1 !important;
  min-height: 0%;
  order: 3;
}

.p-rf-h__floating {
  background-color: #fff;
  border-bottom: solid 2px #bf0000 !important;
  height: 70px;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 100%;
  z-index: 100;
}

.p-rf-h__floating.is-show {
  transform: translateY(0);
}

.p-rf-h__floating:not(.is-show) [role=navigation] {
  display: none;
}

.p-rf-h__sub {
  order: 1;
}

.p-rf-h__notice {
  color: #686868;
  font-size: 12px;
  order: 4;
  padding-bottom: 8px;
  padding-top: 8px;
}

.p-rf-h__notice p {
  margin: 0;
}

.p-rf-h__notice .c-rf-link {
  color: #D80000;
}

.p-rf-h__notice .c-rf-link > span {
  position: relative;
}

.p-rf-h__notice .c-rf-link > span::after {
  background-color: #D80000;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  transition: height 0.3s cubic-bezier(0.25, 0, 0.45, 1);
  width: 100%;
}

.p-rf-h__notice .c-rf-link__text {
  vertical-align: baseline !important;
}

.p-rf-h__notice .c-rf-link:focus {
  border-color: #8C0000;
  border-width: 2px !important;
  color: #8C0000;
  padding: 2px;
}

.p-rf-h__notice .c-rf-link:focus > span::after {
  background-color: transparent;
}

.p-rf-h__notice .c-rf-link:hover {
  color: #BF0000;
}

.p-rf-h__notice .c-rf-link:hover > span::after {
  background-color: #BF0000;
  height: 2px;
}

.p-rf-h__notice .c-rf-link:active {
  border-color: #8C0000;
  border-width: 2px !important;
  color: #8C0000;
  font-weight: bold;
  padding: 2px;
}

.p-rf-h__notice .c-rf-link:active > span::after {
  background-color: #8C0000;
  height: 1px;
}

.u-rf-font-bold {
  font-weight: bold;
}

.u-rf-font-13px {
  font-size: 13px !important;
}

.sure-icon-tousiru {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/web/shared/images/nav-global/icon/toshiru.svg) no-repeat top left/cover;
}

@media screen and (min-width: 768px) {
  .p-rf-h_main.-simple {
    height: 118px;
    padding-top: 50px;
  }
  .u-hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .u-hidden-lg {
    display: none !important;
  }
}
@media screen and (min-width: 414px) {
  .u-hidden-sm {
    display: none !important;
  }
}
@media screen and (max-width: 1023px) {
  .u-visible-lg {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .u-visible-md {
    display: none !important;
  }
}
@media screen and (max-width: 413px) {
  .u-visible-sm {
    display: none !important;
  }
}
.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_items {
  width: 256px;
  height: 44px;
  border: 1px solid #828282;
  border-radius: 4px;
  margin-left: 8px;
  overflow: hidden;
  position: relative;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_items:hover {
  border: 1px solid #bf0000;
  background-color: #bf0000;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_items.mf_finder_searchBox--is-active {
  border: 1px solid #bf0000;
  outline: 1px solid #bf0000;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_wrap {
  display: inline-block;
  background-color: #fff;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_wrap,
.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_input {
  width: 226px;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_input,
.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_submit {
  border: none !important;
  height: 42px;
  background: none;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_input {
  outline: none;
  border-radius: 5px;
  padding: 14px 16px 10px 10px;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_submit {
  width: 42px;
  position: absolute;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  right: 0;
  top: 0;
  z-index: 7;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_submit:hover {
  background-color: #bf0000;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_submit::before {
  content: "";
  display: block;
  margin: auto;
  width: 16px;
  height: 16px;
  background: url(/web/shared/images/icon/icon_search-gray.svg) no-repeat center/contain;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_items.mf_finder_searchBox--is-active .mf_finder_searchBox_submit::before {
  background: url(/web/shared/images/icon/icon_search-red.svg) no-repeat center/contain;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_items:hover .mf_finder_searchBox_submit::before {
  background: url(/web/shared/images/icon/icon_search-red.svg) no-repeat center/contain;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_items .mf_finder_searchBox_submit:hover::before {
  background: url(/web/shared/images/icon/icon_search-white.svg) no-repeat center/contain !important;
}

.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_wrap:hover .mf_finder_searchBox_query_input,
.p-rf-h_main__wrap .mf_finder_header .mf_finder_searchBox_query_wrap:active .mf_finder_searchBox_query_input {
  border: none !important;
}

.p-rf-gnav__menuBoxBody.-pl-0 {
  padding-left: 0 !important;
  margin-left: -8px !important;
}

.p-rf-gnav__menuBoxBody.-pl-0 li a span img {
  margin-right: 8px;
}

.-multi .c-rf-text {
  display: flex;
  padding-left: 28px;
}

.-multi .c-rf-text > span,
.-multi .c-rf-text a {
  position: relative;
  top: -6px;
}

.-multi.-multi-m .c-rf-text > span,
.-multi.-multi-m .c-rf-text a {
  position: relative;
  top: -8px;
}

.c-rf-text.ls-004 a {
  letter-spacing: -0.04em;
}

.-multi + .p-rf-gnav__menuBoxBody {
  margin-top: -6px;
}

.c-rf-link__text.-other {
  color: #333;
  font-weight: bold;
}

.s3-rc-h-section-main__label--picup {
  border: 1px solid #006497 !important;
}

.s3-rc-h-section-main__visual {
  transition: box-shadow 0.3s cubic-bezier(0.25, 0, 0.45, 1);
}

.s3-rc-h-section-main__visual:hover {
  opacity: 1;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.s3-rc-h-section-main__visual:focus {
  box-shadow: 0 0 0 2px #bf0000;
  outline: 1px solid #bf0000;
}

.s3-rc-h-section-main__text i {
  color: #686868;
}

.s3-rc-h-subsection-nav__item:hover {
  text-decoration: none !important;
}

.s3-rc-h-subsection-nav__item:visited .s3-rc-h-subsection-nav__item--btn {
  color: #686868;
}

.s3-rc-h-subsection-nav__item:hover .s3-rc-h-subsection-nav__item--btn {
  color: #bf0000;
}

.lbl-outline {
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
  padding: 0 4px;
  border: 1px solid #D1D1D1 !important;
  border-radius: 3px;
  color: #686868 !important;
  margin-left: 2px;
  background-color: #fff;
}

.p-rf-gnav__wrap .p-rf-gnav__menuBox .c-rf-text span.lbl-outline {
  color: #686868 !important;
  margin-left: 0;
  top: -2px;
  position: relative;
}

.block-lines-icon {
  display: block;
  margin-bottom: -2px;
}

#h-menu2 {
  width: 1192px;
}

.p-rf-h .c-rf-sup__registered, .p-rf-f .c-rf-sup__registered {
  font-size: 14px;
  vertical-align: top !important;
  line-height: 0.86em;
}

.s3-rc-h-subsection-nav__sup--registered {
  font-size: 12px;
  vertical-align: top !important;
  margin-top: -0.31em;
}