@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. str-footer
*	02. nav-summary
*	03. nav-contents-01
*	04. rakuten common
*	05. banner
----------------------------------------------------------------- */


/* ----------------------------------------------------------------
	01. str-footer
----------------------------------------------------------------- */
div#str-footer{
margin-top:15px;
padding-bottom:15px;
position:relative;
font-size:81.25%;
}


/* ----------------------------------------------------------------
	02. nav-summary
----------------------------------------------------------------- */
div#str-footer div#nav-summary{
padding:10px 0 0;
border-top:1px solid #808080;
text-align:center;
}

div#str-footer div#nav-summary li{
padding:0 7px;
border-right:1px solid #808080;
display:inline;
}

div#str-footer div#nav-summary li.last-child{
border:none;
}

div#str-footer div#nav-summary li a:link,
div#str-footer div#nav-summary li a:visited{
text-decoration:none;
}

div#str-footer div#nav-summary li a:active,
div#str-footer div#nav-summary li a:hover,
div#str-footer div#nav-summary li a:focus{
text-decoration:underline;
}

/* ---------nav-summary2--------- */
div#str-footer div#nav-summary2{
margin-bottom:10px;
padding:10px 0 0;
border-top:1px solid #808080;
}

div#str-footer div#nav-summary2 ul{
margin-bottom:5px;
}

div#str-footer div#nav-summary2 li{
padding:0 7px;
border-right:1px solid #808080;
display:inline;
}

div#str-footer div#nav-summary2 li.heading{
padding:0;
border-right:0;
font-weight:bold;
color:#444;
}

div#str-footer div#nav-summary2 li.last-child{
border:none;
}

div#str-footer div#nav-summary2 li a:link,
div#str-footer div#nav-summary2 li a:visited{
text-decoration:none;
}

div#str-footer div#nav-summary2 li a:active,
div#str-footer div#nav-summary2 li a:hover,
div#str-footer div#nav-summary2 li a:focus{
text-decoration:underline;
}

/* ----------------------------------------------------------------
	03. nav-contents-01
----------------------------------------------------------------- */
div#str-footer ul.nav-contents-01{
position:absolute;
top:-3em;
right:195px;
text-align:right;
}

body#top div#str-footer ul.nav-contents-01{
right:10px;
}

div#str-footer ul.nav-contents-01 li.top a{
padding-left:10px;
min-height:15px;
background:url("/web/shared/images/arrow/arrow-backtop-01.gif") no-repeat 0 2px;
font-size:87.5%;
}

body.lyt-column-ms-02 div#str-footer ul.nav-contents-01{
right:315px;
}

body.lyt-column-m div#str-footer ul.nav-contents-01{
right:5px;
}

div#str-footer ul.nav-contents-01 li a:link,
div#str-footer ul.nav-contents-01 li a:visited{
text-decoration:none;
}

div#str-footer ul.nav-contents-01 li a:active,
div#str-footer ul.nav-contents-01 li a:hover,
div#str-footer ul.nav-contents-01 li a:focus{
text-decoration:underline;
}


/* ----------------------------------------------------------------
	04. rakuten common
----------------------------------------------------------------- */

/*
**********************************************************************

* grpRakutenLinkArea.css

*********************************************************************
*/

/* reset */
div#grpRakutenLinkArea div, div#grpRakutenLinkArea h1, div#grpRakutenLinkArea h2, div#grpRakutenLinkArea h3, div#grpRakutenLinkArea p, div#grpRakutenLinkArea ul, div#grpRakutenLinkArea ol, div#grpRakutenLinkArea dl, div#grpRakutenLinkArea dt, div#grpRakutenLinkArea dd {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
div#grpRakutenLinkArea ul,
div#grpRakutenLinkArea ol {
	list-style: none outside;
}
div#grpRakutenLinkArea a img {
	border: none;
}

/* layout */
div#grpRakutenLinkArea {
	/* width: 950px; */
	margin: auto auto 0 auto;
	color: #333333;
	/* font-size: 82%; */
}

/* about ul#grpSpelinlk */
div#grpRakutenLinkArea ul#grpSpelinlk {
padding:0.5em;
border-top:1px solid #808080;
text-align:center;
}
div#grpRakutenLinkArea ul#grpSpelinlk li {
border-right:1px solid #ADADAD;
display:inline;
list-style-type:none;
padding-left:0.45em;
padding-right:0.5em;
zoom:1;
}
div#grpRakutenLinkArea ul#grpSpelinlk li.grpLast {
border:none;
}

/* about dl#grpKeyword */
div#grpRakutenLinkArea dl#grpKeyword {
clear:both;
margin-bottom:0.75em;
padding:0.75em;
border:1px solid #DDDDDD;
background:#FCFCFC;
text-align:center;
}
div#grpRakutenLinkArea dl#grpKeyword dt,
div#grpRakutenLinkArea dl#grpKeyword dd,
div#grpRakutenLinkArea dl#grpKeyword ul {
display:inline;
zoom:1;
}
div#grpRakutenLinkArea dl#grpKeyword dt {
padding:0 1.5em 0 0.75em;
text-align:center;
font-weight:bold;
}
div#grpRakutenLinkArea dl#grpKeyword li {
display:inline;
padding-right:1em;
}

/* about div#groupServiceFooter */

div#grpRakutenLinkArea div#groupServiceFooter {
	border-top: 1px solid #808080;
	background: #F4F4F4;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title {
	padding: 6px 10px;
	border-bottom: 1px solid #DDDDDD;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dt {
	float: left;
	margin: 4px 10px 0 0;
	color: #BF0000;
	font-weight: bold;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService {
	float: left;
	margin-top: 2px;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span {
	display: block;
	float: left;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/bg_allService.gif) no-repeat;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a {
	display: table-cell;
	height: 18px;
	vertical-align: middle;
	padding: 0 10px 0 17px;
	color: #333333;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/bg_allServiceRight.gif) no-repeat 100% 0;
	text-decoration: none;
}
* html div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a {  /* for IE6 */
	display: inline-block;
	line-height: 18px;
	vertical-align: baseline;
}
*:first-child+html div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a {  /* for IE7 */
	display: inline-block;
	line-height: 18px;
	vertical-align: baseline;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a:hover {
	color: #bf0000;
}

div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.csr {
	float: right;
	height: 20px;
}
div#grpRakutenLinkArea ul#selectedService {
	border-top: 5px solid #F7F7F7;
	border-bottom: 5px solid #F7F7F7;
	background: #F7F7F7;
}
div#grpRakutenLinkArea ul.serviceCol3 li {
	width: 33%;
}
div#grpRakutenLinkArea ul.serviceCol4 li {
	width: 24.9%;
}
div#grpRakutenLinkArea ul.serviceCol5 li {
	width: 19.9%;
}
div#grpRakutenLinkArea ul#selectedService li {
	float: left;
	margin-left: -1px;
	margin-bottom: -32767px;
	padding-bottom: 32767px;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/bg_dotted.gif) repeat-y;
}
div#grpRakutenLinkArea ul#selectedService dl {
	padding: 6px 10px 8px 27px;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/icon_red_circle_arrow.gif) no-repeat 11px 11px;
}
div#grpRakutenLinkArea ul#selectedService dt {
	margin-bottom: 5px;
	font-size: 115%;
	font-weight: bold;
}
div#grpRakutenLinkArea ul#selectedService dd {
	color: #666666;
}


div#grpRakutenLinkArea div#serviceList {
	font-size:100%;
	clear:both;
	padding: 10px 0;
	border-top: 1px solid #DDDDDD;
	background: #FFFFFF;
}
div#grpRakutenLinkArea div#serviceList dl {
	padding: 0 5px 5px;
	line-height: 1.4;
}
div#grpRakutenLinkArea div#serviceList dt {
	float: left;
	width: 8em;
	font-weight: bold;
}
div#grpRakutenLinkArea div#serviceList dd {
	margin-left: 8.5em;
}
div#grpRakutenLinkArea div#serviceList li {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}
div#grpRakutenLinkArea div#serviceList li a {
	color: #666699;
}


div#grpRakutenLinkArea div#companyFooter {	
	padding: 10px 10px 10px 5px;
	border-top: 1px solid #808080;
	overflow: hidden;
}
div#grpRakutenLinkArea div#companyFooter ul {
	width: 100%;
	margin-bottom: 8px;
}
div#grpRakutenLinkArea div#companyFooter ul li {
	float: left;
	margin-left: -1px;
	padding: 0 6px 0 5px;
	border-left: 1px solid #ADADAD;
}
div#grpRakutenLinkArea div#companyFooter ul li:first-child {
	border: none;
}
div#grpRakutenLinkArea div#companyFooter p.copyright {
	margin: 0.75em 0 0 0;
}




/* clearfix */
div#grpRakutenLinkArea div#groupServiceFooter dl.title,
div#grpRakutenLinkArea div#companyFooter ul,
ul#selectedService,
div#grpRakutenLinkArea div#serviceList,
div#grpRakutenLinkArea div#serviceList dl {
	display: block;
	overflow: hidden;
	zoom: 1;
}

/* ----------------------------------------------------------------
	05. banner
----------------------------------------------------------------- */
div#str-footer div#footer-banner-list{
padding:15px 0;
border-top:1px solid #999;
font-size:0;
}

div#str-footer div#footer-banner-list ul.list-image-01{
text-align:center;
}

div#str-footer div#footer-banner-list ul.list-image-01 li{
display:inline;
}

div#str-footer div#footer-banner-list ul.list-image-01 li img{
margin:0 10px 0 0;
}

div#str-footer div#footer-banner-list ul.list-image-01 li img.last-child{
margin:0;
}

div#str-footer div.footerBanner{
padding:15px 0;
border-top:1px solid #999;
text-align:center;
}

/* ----------------------------------------------------------------
	06. site-summary
----------------------------------------------------------------- */

div#grpRakutenLinkArea div.site-summary{
margin:10px 0 0;
padding:7px 12px;
background:#eee;
}
div#grpRakutenLinkArea div.site-summary h2{
margin:0 0 3px;
padding:0;
border:0;
color:#444;
background:none;
}
div#grpRakutenLinkArea div.site-summary p{
color:#444;
}


