@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. str-search
*	02. form-search-stock
*	03. form-search-keywords
*	04. font-control
*	05. str-search-top
*	06. searchTop Button Menu
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. str-search
----------------------------------------------------------------- */
div#str-search{
margin-bottom:7px;
padding:6px 180px 8px 90px;
position:relative;
border-bottom:1px solid #d6d7e2;
background-color:#ececec;
}


/* ----------------------------------------------------------------
	02. form-search-stock
----------------------------------------------------------------- */
div#str-search dl dt.label-search{
position:absolute;
top:7px;
left:17px;
}

div#str-search dl dd label img{
vertical-align:middle;
}

/*div#str-search form{
float:left;
}*/

div#str-search select#stoc-type,
div#str-search input#form-search-stock-prices{
margin-right:5px;
padding:1px 3px;
border:1px solid #7f9db9;
width:165px;
}

div#str-search input#form-search-stock-prices{
color:#cccccc;
}

div#str-search select#stoc-type{
padding:0;
width:100px;
}

div#str-search select#stoc-type option{
padding:0;
}

div#str-search input#form-search-stock-btn,
div#str-search input#form-search-btn{
cursor:pointer;
}


/* IE6 */

*html div#str-search select#stoc-type,
*html div#str-search input#form-search-stock-prices{
margin-top:1px;
}

/* IE7 */

*+html div#str-search select#stoc-type,
*+html div#str-search input#form-search-stock-prices{
margin-top:1px;
}


/* ----------------------------------------------------------------
	03. form-search-keywords
----------------------------------------------------------------- */

div#str-search fieldset#form-search-word{
position:absolute;
top:6px;
left:470px;
width:320px;
}

div#str-search input#form-search-keywords{
margin-right:10px;
padding:1px 3px;
border:1px solid #7f9db9;
color:#cccccc;
width:150px;
}

div#str-search input#MF_form_phrase{
margin-right:10px;
padding:1px 3px;
border:1px solid #7f9db9;
color:#cccccc;
width:150px;
}


div#str-search input#form-search-btn{
cursor:pointer;
}

/* IE6 */

*html div#str-search fieldset#form-search-word{
top:8px;
}

*html div#str-search input#form-search-btn{
padding-bottom:1px;
}

/* IE7 */

*+html div#str-search fieldset#form-search-word{
top:8px;
}

*+html div#str-search input#form-search-btn{
padding-bottom:1px;
}


/* ----------------------------------------------------------------
	04. font-control
----------------------------------------------------------------- */
div#font-control{
position:absolute;
top:8px;
right:17px;
width:125px;
text-align:right;
}

div#font-control dl{
padding-left:60px;
position:relative;
}

div#font-control dl dt{
position:absolute;
top:5px;
left:0;
line-height:1;
font-size:5px;
}

div#font-control dl dd{
border:1px solid #cacaca;
width:61px;
}

div#font-control dl dd ul{
border-width:1px 0 0 1px;
border-style:solid;
border-color:#ffffff;
}

div#font-control dl dd ul li{
display:inline;
line-height:1;
font-size:5px;
}

div#font-control dl dd ul li img{
border-width:0 1px 1px 0;
border-style:solid;
border-color:#ffffff;
cursor:pointer;
}


/* ----------------------------------------------------------------
	05. str-search-top
----------------------------------------------------------------- */

div#str-search-top{
margin-bottom:15px;
padding:20px 0 0 120px;
position:relative;
background:url("/web/shared/images/str-search/top-super-search-bg.gif") 0 0 no-repeat;
min-height:36px;
}

/* ----------------------------------------------------------------
	form-search-stock
----------------------------------------------------------------- */
div#str-search-top dl dt.label-search{
position:absolute;
top:11px;
left:0px;
}

div#str-search-top dl dd label img{
vertical-align:middle;
}

div#str-search-top dl dd label.top-rbl-stk{
display:block;
position:absolute;
top:9px;
}

div#str-search-top select#stoc-type,
div#str-search-top input#form-search-stock-prices{
margin-right:5px;
padding:1px 3px;
border:1px solid #7f9db9;
width:150px;
}

div#str-search-top input#form-search-stock-prices{
color:#cccccc;
}

div#str-search-top select#stoc-type{
padding:0;
width:90px;
}

div#str-search-top select#stoc-type option{
padding:0;
}

div#str-search-top input#form-search-stock-btn,
div#str-search-top input#form-search-btn{
cursor:pointer;
}


/* IE6 */

*html div#str-search-top select#stoc-type,
*html div#str-search-top input#form-search-stock-prices{
margin-top:0px;
}

/* IE7 */

*+html div#str-search-top select#stoc-type,
*+html div#str-search-top input#form-search-stock-prices{
margin-top:0px;
}

*+html div#str-search-top dl dd label.top-rbl-stk{
top:10px;
}

/* ----------------------------------------------------------------
	form-search-keywords
----------------------------------------------------------------- */

div#str-search-top fieldset#form-search-word{
position:absolute;
top:18px;
left:470px;
width:320px;
}

div#str-search-top fieldset#form-search-word p{
margin:0;
}

div#str-search-top fieldset#form-search-word label.top-rbl-kwd{
display:block;
position:absolute;
top:-9px;
}

div#str-search-top input#MF_form_phrase{
margin-right:5px;
padding:1px 3px;
border:1px solid #7f9db9;
color:#cccccc;
width:160px;
}

div#str-search-top input#form-search-btn{
cursor:pointer;
}

/* IE6 */

*html div#str-search-top fieldset#form-search-word{
top:19px;
}

*html div#str-search-top input#form-search-btn{
padding-bottom:1px;
}

*html div#str-search-top fieldset#form-search-word label.top-rbl-kwd{
top:-13px;
}

/* IE7 */

*+html div#str-search-top fieldset#form-search-word{
top:20px;
}

*+html div#str-search-top input#form-search-btn{
padding-bottom:1px;
}

*+html div#str-search-top fieldset#form-search-word label.top-rbl-kwd{
top:-13px;
}

/* ----------------------------------------------------------------
	06. searchTop Button Menu
----------------------------------------------------------------- */

div#str-contents-inner ul.searchtop-btn-menu{
margin:0 0 15px;
}
div#str-contents-inner ul.searchtop-btn-menu li{
float:left;
width:376px;
margin-right:2px;
}
div#str-contents-inner ul.searchtop-btn-menu li.last-child{
margin-right:0px;
}
div#str-contents-inner ul.searchtop-btn-menu li a{
display:block;
height:30px;
padding:0 10px;
background: url("/web/shared/images/bg-modules/bg-btn-search-01.gif") no-repeat;
font-size:14px;
font-weight:bold;
text-decoration:none;
color:#3535B4;
text-align:center;
}
div#str-contents-inner ul.searchtop-btn-menu li a:hover{
background: url("/web/shared/images/bg-modules/bg-btn-search-01_on.gif") no-repeat;
}
div#str-contents-inner ul.searchtop-btn-menu li a span{
padding-left:15px;
background: url("/web/shared/images/arrow/arrow-01.gif") no-repeat 0 50%;
line-height:30px;
}
div#str-contents-inner ul.searchtop-btn-menu:after{
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}

