@charset "UTF-8";
/* :::: 以下ページで共通 ::::
- /web/bond/
- /web/bond/jbond/
- /smartphone/bond/
- /smartphone/bond/jbond/
::::::::::::::::::::::::::: */

/* =================== 現在取扱中の国内債券 =================== */
/* ↓↓↓↓↓ 新発債1件以上の時はコメントアウト解除 0件の時はコメントアウト ↓↓↓↓↓ */
.u-jbond-html.u-jbond-type-n {
  display: none;
}
/* ↑↑↑↑↑ 新発債1件以上の時はコメントアウト解除 0件の時はコメントアウト ↑↑↑↑↑ */

/* ↓↓↓↓↓ 新発債0件の時はコメントアウト解除 1件以上の時はコメントアウト ↓↓↓↓↓ */
/* .u-jbond-html.u-jbond-type-y {
  display: none;
} */
/* ↑↑↑↑↑ 新発債0件の時はコメントアウト解除 1件以上の時はコメントアウト ↑↑↑↑↑ */

/* =================== 現在取扱中の外国債券 =================== */
/* ↓↓↓↓↓ 新発債1件以上の時はコメントアウト解除 0件の時はコメントアウト ↓↓↓↓↓ */
/* .u-foreignbond-html.u-foreignbond-type-n {
  display: none;
} */
/* ↑↑↑↑↑ 新発債1件以上の時はコメントアウト解除 0件の時はコメントアウト ↑↑↑↑↑ */

/* ↓↓↓↓↓ 新発債0件の時はコメントアウト解除 1件以上の時はコメントアウト ↓↓↓↓↓ */
.u-foreignbond-html.u-foreignbond-type-y {
  display: none;
}
/* ↑↑↑↑↑ 新発債0件の時はコメントアウト解除 1件以上の時はコメントアウト ↑↑↑↑↑ */