@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. body
*	02. #str-main
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. div#str-container
----------------------------------------------------------------- */
body.top div#str-container{
width:372px;
}

body.lyt-column-smc div#str-container{
width:200px;
}

body.lyt-column-ms-02 div#str-container{
width:300px;
}

/* ----------------------------------------------------------------
	02. #str-main
----------------------------------------------------------------- */

